In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data.csv')
df

,car_company,model_ID,mileage,engine_power,registration_date,fuel,car_paint_color,car_type,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,sold_date,car_price
0,Edureka_motors,318 Gran Turismo,140245,105,01-10-2014,diesel,white,hatchback,False,True,False,False,True,True,True,True,01-03-2018,19200
1,Edureka_motors,218 Active Tourer,91512,100,01-06-2015,petrol,white,van,False,True,True,False,False,False,True,False,01-05-2018,14300
2,Edureka_motors,318,113744,100,01-06-2012,diesel,grey,sedan,True,True,False,False,False,False,True,False,01-06-2018,14300
3,Edureka_motors,320 Gran Turismo,195063,135,01-05-2014,diesel,black,hatchback,False,True,True,False,True,False,True,True,01-03-2018,16200
4,Edureka_motors,518,148943,100,01-11-2013,diesel,brown,estate,True,True,True,False,True,False,True,True,01-05-2018,17300
5,Edureka_motors,520,150439,120,01-10-2012,diesel,grey,sedan,False,True,False,False,False,False,True,False,01-03-2018,13700
6,Edureka_motors,X5,96715,160,01-06-2014,diesel,brown,suv,True,True,False,True,True,False,True,True,01-08-2018,35400
7,Edureka_motors,116,137660,85,01-10-2012,diesel,blue,hatchback,True,True,False,False,False,True,True,False,01-06-2018,9000
8,Edureka_motors,530,160072,190,01-03-2014,diesel,black,sedan,False,True,True,False,True,True,True,True,01-04-2018,27300
9,Edureka_motors,318 Gran Turismo,43032,100,01-01-2016,diesel,white,hatchback,True,True,False,False,True,False,True,True,01-03-2018,23800
10,Edureka_motors,320,25974,120,01-05-2015,diesel,black,estate,False,True,False,False,False,False,True,False,01-03-2018,9500
11,Edureka_motors,118,54093,110,01-10-2015,diesel,black,subcompact,False,True,False,False,False,True,True,False,01-05-2018,16300
12,Edureka_motors,X6,128629,225,01-05-2014,diesel,white,suv,True,True,True,True,False,True,True,True,01-05-2018,36100
13,Edureka_motors,520,149502,120,01-03-2010,diesel,black,estate,True,True,False,False,False,False,True,False,01-05-2018,9900
14,Edureka_motors,X3,193693,100,01-03-2013,diesel,black,suv,False,True,False,False,False,False,True,True,01-02-2018,10800
15,Edureka_motors,118,1000376,90,01-03-2005,diesel,black,subcompact,True,False,False,False,False,False,True,False,01-06-2018,1400
16,Edureka_motors,320,195889,120,01-03-2014,diesel,black,estate,True,True,False,False,False,False,True,True,01-05-2018,12300
17,Edureka_motors,420 Gran Coupé,104133,140,01-03-2015,diesel,white,hatchback,True,False,True,False,True,False,True,True,01-01-2018,30200
18,Edureka_motors,320 Gran Turismo,191795,135,01-09-2013,petrol,grey,hatchback,True,True,False,False,False,False,True,False,01-07-2018,12000
19,Edureka_motors,318 Gran Turismo,115854,105,01-04-2014,diesel,white,hatchback,False,False,False,False,True,False,True,False,01-04-2018,14400
20,Edureka_motors,320,150969,135,01-01-2012,diesel,blue,estate,False,False,False,False,False,False,True,False,01-01-2018,800
21,Edureka_motors,520,120756,135,01-12-2012,petrol,grey,estate,False,True,False,False,True,False,True,True,01-05-2018,9500
22,Edureka_motors,320,127017,120,01-04-2014,diesel,grey,estate,False,True,False,False,False,False,True,True,01-07-2018,13100
23,Edureka_motors,116,122426,85,01-06-2014,diesel,black,subcompact,False,True,False,False,False,False,True,False,01-06-2018,10600
24,Edureka_motors,320,155283,135,01-02-2013,diesel,grey,estate,True,True,False,False,True,False,True,True,01-05-2018,14400
25,Edureka_motors,640,69695,230,01-04-2012,diesel,blue,coupe,True,True,False,False,True,True,True,True,01-02-2018,36300
26,Edureka_motors,320,105069,135,01-09-2011,diesel,blue,sedan,True,True,True,False,False,False,True,True,01-08-2018,10800
27,Edureka_motors,X5,203537,190,01-01-2014,diesel,black,suv,True,True,True,True,True,False,True,True,01-03-2018,35700
28,Edureka_motors,518,181271,112,01-09-2014,diesel,white,sedan,True,True,True,False,True,False,True,True,01-02-2018,19600
29,Edureka_motors,525,5117,160,01-05-2016,diesel,blue,sedan,True,True,True,False,True,True,True,True,01-04-2018,34900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360,Edureka_motors,M135,94497,239,01-05-2014,petrol,grey,hatchback,True,False,False,False,True,False,True,True,01-02-2018,25700
3361,Edureka_motors,X1,169294,135,01-05-2014,diesel,white,suv,True,True,False,False,True,False,True,True,01-08-2018,14800
3362,Edureka_motors,116,137052,85,01-12-2006,petrol,black,sedan,False,False,False,False,False,False,True,False,01-04-2018,3800
3363,Edureka_motors,535,124805,230,01-03-2014,diesel,black,sedan,True,True,False,False,False,True,True,True,01-02-2018,31900
3364,Edureka_motors,325,90747,160,01-06-2014,diesel,grey,estate,False,False,False,False,False,False,False,False,01-04-2018,11200
3365,Edureka_motors,116,74031,85,01-09-2014,diesel,black,hatchback,False,True,False,False,False,False,True,False,01-02-2018,12000
3366,Edureka_motors,M550,145348,280,01-07-2014,diesel,blue,estate,False,True,False,True,True,True,True,True,01-04-2018,37100
3367,Edureka_motors,518,198146,100,01-03-2014,diesel,black,sedan,True,True,False,False,True,False,True,False,01-03-2018,14900
3368,Edureka_motors,520,196537,137,01-09-2012,diesel,black,hatchback,True,True,False,False,True,False,True,True,01-04-2018,14300
3369,Edureka_motors,320,130961,120,01-03-2015,diesel,blue,sedan,True,True,False,False,False,True,True,True,01-01-2018,17800
3370,Edureka_motors,525,110966,160,01-06-2013,diesel,grey,estate,True,True,False,False,False,False,False,True,01-05-2018,15100
3371,Edureka_motors,318,141717,105,01-06-2014,diesel,black,estate,False,True,False,False,True,True,True,True,01-02-2018,13000
3372,Edureka_motors,325,51133,160,01-04-2015,diesel,white,sedan,True,True,False,False,True,False,True,False,01-03-2018,14400
3373,Edureka_motors,X4,40030,140,01-12-2014,diesel,white,suv,False,False,False,False,False,False,False,True,01-04-2018,34900
3374,Edureka_motors,320,104733,120,01-04-2013,diesel,black,sedan,True,True,False,False,False,False,True,False,01-06-2018,12900
3375,Edureka_motors,X1,178770,105,01-01-2013,diesel,black,suv,True,True,False,True,False,False,True,True,01-07-2018,13400
3376,Edureka_motors,528,157955,190,01-02-2011,petrol,black,estate,True,True,False,False,True,False,True,True,01-05-2018,15000
3377,Edureka_motors,325 Gran Turismo,117791,160,01-02-2014,diesel,grey,hatchback,False,True,False,False,False,True,True,False,01-09-2018,20500
3378,Edureka_motors,116,141587,85,01-10-2012,diesel,black,hatchback,False,False,False,False,True,False,True,False,01-08-2018,9200
3379,Edureka_motors,318,162056,105,01-08-2013,diesel,red,estate,False,True,False,False,False,False,True,False,01-03-2018,9500
3380,Edureka_motors,320,169762,135,01-11-2012,diesel,brown,estate,True,False,False,False,False,False,True,False,01-08-2018,10200
3381,Edureka_motors,325,221500,155,01-07-2009,petrol,grey,coupe,True,True,True,False,True,True,True,True,01-07-2018,9300
3382,Edureka_motors,525,215427,150,01-04-2011,diesel,black,sedan,True,True,False,False,False,False,True,False,01-04-2018,14500
3383,Edureka_motors,320,89159,120,01-07-2013,diesel,black,sedan,True,True,True,False,True,False,True,False,01-05-2018,14500
3384,Edureka_motors,318,384698,85,01-08-2003,diesel,blue,sedan,True,False,False,False,False,False,True,False,01-07-2018,1000
3385,Edureka_motors,X1,58189,100,01-04-2012,diesel,black,suv,False,True,False,False,False,False,True,False,01-06-2018,10600
3386,Edureka_motors,530,178174,190,01-05-2012,diesel,blue,estate,True,True,False,False,True,False,True,True,01-02-2018,16500
3387,Edureka_motors,M3,39250,317,01-11-2015,petrol,black,sedan,True,True,False,False,False,True,True,True,01-05-2018,52400
3388,Edureka_motors,X3,75065,140,01-10-2014,diesel,white,suv,False,False,False,False,False,False,False,True,01-08-2018,20600
3389,Edureka_motors,525,137237,160,01-12-2013,diesel,brown,estate,True,True,False,False,True,True,True,True,01-04-2018,18600

In [13]:
df['mileage'].median()

141660.0

In [18]:
print(df['car_company'][df['car_type'] == 'SUV'])

Series([], Name: car_company, dtype: object)

In [17]:
df['car_type'][df['mileage'] == 91715]

c:\users\garima\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Series([], Name: car_type, dtype: object)

In [21]:
wheather_data = [('1/1/2019' , 32, 7, 'rain'),
                ('1/2/2019' , 56, 8,  'sunny'),
                ('1/3/2019' , 78, 9,   'stormy'),
                ('1/4/2019' , 90, 7,    'snow')]
df = pd.DataFrame(wheather_data , columns = ['day','temperature','windspeed','event'])
df

        day  temperature  windspeed   event
0  1/1/2019           32          7    rain
1  1/2/2019           56          8   sunny
2  1/3/2019           78          9  stormy
3  1/4/2019           90          7    snow

In [22]:
#to get dimensions
df.shape

(4, 4)

In [23]:
#to see the initial rows of the data
df.head(3)

        day  temperature  windspeed   event
0  1/1/2019           32          7    rain
1  1/2/2019           56          8   sunny
2  1/3/2019           78          9  stormy

In [25]:
#to see last rows of data
df.tail(1)

        day  temperature  windspeed event
3  1/4/2019           90          7  snow

In [26]:
#slicing
df[2:4]

        day  temperature  windspeed   event
2  1/3/2019           78          9  stormy
3  1/4/2019           90          7    snow

In [28]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [29]:
#indexing
df[0:2:2]

        day  temperature  windspeed event
0  1/1/2019           32          7  rain

In [30]:
df.day

0    1/1/2019
1    1/2/2019
2    1/3/2019
3    1/4/2019
Name: day, dtype: object

In [31]:
df = pd.read_csv('data.csv')
df

,car_company,model_ID,mileage,engine_power,registration_date,fuel,car_paint_color,car_type,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,sold_date,car_price
0,Edureka_motors,318 Gran Turismo,140245,105,01-10-2014,diesel,white,hatchback,False,True,False,False,True,True,True,True,01-03-2018,19200
1,Edureka_motors,218 Active Tourer,91512,100,01-06-2015,petrol,white,van,False,True,True,False,False,False,True,False,01-05-2018,14300
2,Edureka_motors,318,113744,100,01-06-2012,diesel,grey,sedan,True,True,False,False,False,False,True,False,01-06-2018,14300
3,Edureka_motors,320 Gran Turismo,195063,135,01-05-2014,diesel,black,hatchback,False,True,True,False,True,False,True,True,01-03-2018,16200
4,Edureka_motors,518,148943,100,01-11-2013,diesel,brown,estate,True,True,True,False,True,False,True,True,01-05-2018,17300
5,Edureka_motors,520,150439,120,01-10-2012,diesel,grey,sedan,False,True,False,False,False,False,True,False,01-03-2018,13700
6,Edureka_motors,X5,96715,160,01-06-2014,diesel,brown,suv,True,True,False,True,True,False,True,True,01-08-2018,35400
7,Edureka_motors,116,137660,85,01-10-2012,diesel,blue,hatchback,True,True,False,False,False,True,True,False,01-06-2018,9000
8,Edureka_motors,530,160072,190,01-03-2014,diesel,black,sedan,False,True,True,False,True,True,True,True,01-04-2018,27300
9,Edureka_motors,318 Gran Turismo,43032,100,01-01-2016,diesel,white,hatchback,True,True,False,False,True,False,True,True,01-03-2018,23800
10,Edureka_motors,320,25974,120,01-05-2015,diesel,black,estate,False,True,False,False,False,False,True,False,01-03-2018,9500
11,Edureka_motors,118,54093,110,01-10-2015,diesel,black,subcompact,False,True,False,False,False,True,True,False,01-05-2018,16300
12,Edureka_motors,X6,128629,225,01-05-2014,diesel,white,suv,True,True,True,True,False,True,True,True,01-05-2018,36100
13,Edureka_motors,520,149502,120,01-03-2010,diesel,black,estate,True,True,False,False,False,False,True,False,01-05-2018,9900
14,Edureka_motors,X3,193693,100,01-03-2013,diesel,black,suv,False,True,False,False,False,False,True,True,01-02-2018,10800
15,Edureka_motors,118,1000376,90,01-03-2005,diesel,black,subcompact,True,False,False,False,False,False,True,False,01-06-2018,1400
16,Edureka_motors,320,195889,120,01-03-2014,diesel,black,estate,True,True,False,False,False,False,True,True,01-05-2018,12300
17,Edureka_motors,420 Gran Coupé,104133,140,01-03-2015,diesel,white,hatchback,True,False,True,False,True,False,True,True,01-01-2018,30200
18,Edureka_motors,320 Gran Turismo,191795,135,01-09-2013,petrol,grey,hatchback,True,True,False,False,False,False,True,False,01-07-2018,12000
19,Edureka_motors,318 Gran Turismo,115854,105,01-04-2014,diesel,white,hatchback,False,False,False,False,True,False,True,False,01-04-2018,14400
20,Edureka_motors,320,150969,135,01-01-2012,diesel,blue,estate,False,False,False,False,False,False,True,False,01-01-2018,800
21,Edureka_motors,520,120756,135,01-12-2012,petrol,grey,estate,False,True,False,False,True,False,True,True,01-05-2018,9500
22,Edureka_motors,320,127017,120,01-04-2014,diesel,grey,estate,False,True,False,False,False,False,True,True,01-07-2018,13100
23,Edureka_motors,116,122426,85,01-06-2014,diesel,black,subcompact,False,True,False,False,False,False,True,False,01-06-2018,10600
24,Edureka_motors,320,155283,135,01-02-2013,diesel,grey,estate,True,True,False,False,True,False,True,True,01-05-2018,14400
25,Edureka_motors,640,69695,230,01-04-2012,diesel,blue,coupe,True,True,False,False,True,True,True,True,01-02-2018,36300
26,Edureka_motors,320,105069,135,01-09-2011,diesel,blue,sedan,True,True,True,False,False,False,True,True,01-08-2018,10800
27,Edureka_motors,X5,203537,190,01-01-2014,diesel,black,suv,True,True,True,True,True,False,True,True,01-03-2018,35700
28,Edureka_motors,518,181271,112,01-09-2014,diesel,white,sedan,True,True,True,False,True,False,True,True,01-02-2018,19600
29,Edureka_motors,525,5117,160,01-05-2016,diesel,blue,sedan,True,True,True,False,True,True,True,True,01-04-2018,34900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360,Edureka_motors,M135,94497,239,01-05-2014,petrol,grey,hatchback,True,False,False,False,True,False,True,True,01-02-2018,25700
3361,Edureka_motors,X1,169294,135,01-05-2014,diesel,white,suv,True,True,False,False,True,False,True,True,01-08-2018,14800
3362,Edureka_motors,116,137052,85,01-12-2006,petrol,black,sedan,False,False,False,False,False,False,True,False,01-04-2018,3800
3363,Edureka_motors,535,124805,230,01-03-2014,diesel,black,sedan,True,True,False,False,False,True,True,True,01-02-2018,31900
3364,Edureka_motors,325,90747,160,01-06-2014,diesel,grey,estate,False,False,False,False,False,False,False,False,01-04-2018,11200
3365,Edureka_motors,116,74031,85,01-09-2014,diesel,black,hatchback,False,True,False,False,False,False,True,False,01-02-2018,12000
3366,Edureka_motors,M550,145348,280,01-07-2014,diesel,blue,estate,False,True,False,True,True,True,True,True,01-04-2018,37100
3367,Edureka_motors,518,198146,100,01-03-2014,diesel,black,sedan,True,True,False,False,True,False,True,False,01-03-2018,14900
3368,Edureka_motors,520,196537,137,01-09-2012,diesel,black,hatchback,True,True,False,False,True,False,True,True,01-04-2018,14300
3369,Edureka_motors,320,130961,120,01-03-2015,diesel,blue,sedan,True,True,False,False,False,True,True,True,01-01-2018,17800
3370,Edureka_motors,525,110966,160,01-06-2013,diesel,grey,estate,True,True,False,False,False,False,False,True,01-05-2018,15100
3371,Edureka_motors,318,141717,105,01-06-2014,diesel,black,estate,False,True,False,False,True,True,True,True,01-02-2018,13000
3372,Edureka_motors,325,51133,160,01-04-2015,diesel,white,sedan,True,True,False,False,True,False,True,False,01-03-2018,14400
3373,Edureka_motors,X4,40030,140,01-12-2014,diesel,white,suv,False,False,False,False,False,False,False,True,01-04-2018,34900
3374,Edureka_motors,320,104733,120,01-04-2013,diesel,black,sedan,True,True,False,False,False,False,True,False,01-06-2018,12900
3375,Edureka_motors,X1,178770,105,01-01-2013,diesel,black,suv,True,True,False,True,False,False,True,True,01-07-2018,13400
3376,Edureka_motors,528,157955,190,01-02-2011,petrol,black,estate,True,True,False,False,True,False,True,True,01-05-2018,15000
3377,Edureka_motors,325 Gran Turismo,117791,160,01-02-2014,diesel,grey,hatchback,False,True,False,False,False,True,True,False,01-09-2018,20500
3378,Edureka_motors,116,141587,85,01-10-2012,diesel,black,hatchback,False,False,False,False,True,False,True,False,01-08-2018,9200
3379,Edureka_motors,318,162056,105,01-08-2013,diesel,red,estate,False,True,False,False,False,False,True,False,01-03-2018,9500
3380,Edureka_motors,320,169762,135,01-11-2012,diesel,brown,estate,True,False,False,False,False,False,True,False,01-08-2018,10200
3381,Edureka_motors,325,221500,155,01-07-2009,petrol,grey,coupe,True,True,True,False,True,True,True,True,01-07-2018,9300
3382,Edureka_motors,525,215427,150,01-04-2011,diesel,black,sedan,True,True,False,False,False,False,True,False,01-04-2018,14500
3383,Edureka_motors,320,89159,120,01-07-2013,diesel,black,sedan,True,True,True,False,True,False,True,False,01-05-2018,14500
3384,Edureka_motors,318,384698,85,01-08-2003,diesel,blue,sedan,True,False,False,False,False,False,True,False,01-07-2018,1000
3385,Edureka_motors,X1,58189,100,01-04-2012,diesel,black,suv,False,True,False,False,False,False,True,False,01-06-2018,10600
3386,Edureka_motors,530,178174,190,01-05-2012,diesel,blue,estate,True,True,False,False,True,False,True,True,01-02-2018,16500
3387,Edureka_motors,M3,39250,317,01-11-2015,petrol,black,sedan,True,True,False,False,False,True,True,True,01-05-2018,52400
3388,Edureka_motors,X3,75065,140,01-10-2014,diesel,white,suv,False,False,False,False,False,False,False,True,01-08-2018,20600
3389,Edureka_motors,525,137237,160,01-12-2013,diesel,brown,estate,True,True,False,False,True,True,True,True,01-04-2018,18600

In [32]:
df.mileage

0        140245
1         91512
2        113744
3        195063
4        148943
5        150439
6         96715
7        137660
8        160072
9         43032
10        25974
11        54093
12       128629
13       149502
14       193693
15      1000376
16       195889
17       104133
18       191795
19       115854
20       150969
21       120756
22       127017
23       122426
24       155283
25        69695
26       105069
27       203537
28       181271
29         5117
         ...
3360      94497
3361     169294
3362     137052
3363     124805
3364      90747
3365      74031
3366     145348
3367     198146
3368     196537
3369     130961
3370     110966
3371     141717
3372      51133
3373      40030
3374     104733
3375     178770
3376     157955
3377     117791
3378     141587
3379     162056
3380     169762
3381     221500
3382     215427
3383      89159
3384     384698
3385      58189
3386     178174
3387      39250
3388      75065
3389     137237
Name: mileage, Length: 3390, dtype: int64

In [33]:
#to get more than 2 or 3 columns
df[['mileage','car_type','car_company']]

      mileage    car_type     car_company
0      140245   hatchback  Edureka_motors
1       91512         van  Edureka_motors
2      113744       sedan  Edureka_motors
3      195063   hatchback  Edureka_motors
4      148943      estate  Edureka_motors
5      150439       sedan  Edureka_motors
6       96715         suv  Edureka_motors
7      137660   hatchback  Edureka_motors
8      160072       sedan  Edureka_motors
9       43032   hatchback  Edureka_motors
10      25974      estate  Edureka_motors
11      54093  subcompact  Edureka_motors
12     128629         suv  Edureka_motors
13     149502      estate  Edureka_motors
14     193693         suv  Edureka_motors
15    1000376  subcompact  Edureka_motors
16     195889      estate  Edureka_motors
17     104133   hatchback  Edureka_motors
18     191795   hatchback  Edureka_motors
19     115854   hatchback  Edureka_motors
20     150969      estate  Edureka_motors
21     120756      estate  Edureka_motors
22     127017      estate  Edureka_motors
23     122426  subcompact  Edureka_motors
24     155283      estate  Edureka_motors
25      69695       coupe  Edureka_motors
26     105069       sedan  Edureka_motors
27     203537         suv  Edureka_motors
28     181271       sedan  Edureka_motors
29       5117       sedan  Edureka_motors
...       ...         ...             ...
3360    94497   hatchback  Edureka_motors
3361   169294         suv  Edureka_motors
3362   137052       sedan  Edureka_motors
3363   124805       sedan  Edureka_motors
3364    90747      estate  Edureka_motors
3365    74031   hatchback  Edureka_motors
3366   145348      estate  Edureka_motors
3367   198146       sedan  Edureka_motors
3368   196537   hatchback  Edureka_motors
3369   130961       sedan  Edureka_motors
3370   110966      estate  Edureka_motors
3371   141717      estate  Edureka_motors
3372    51133       sedan  Edureka_motors
3373    40030         suv  Edureka_motors
3374   104733       sedan  Edureka_motors
3375   178770         suv  Edureka_motors
3376   157955      estate  Edureka_motors
3377   117791   hatchback  Edureka_motors
3378   141587   hatchback  Edureka_motors
3379   162056      estate  Edureka_motors
3380   169762      estate  Edureka_motors
3381   221500       coupe  Edureka_motors
3382   215427       sedan  Edureka_motors
3383    89159       sedan  Edureka_motors
3384   384698       sedan  Edureka_motors
3385    58189         suv  Edureka_motors
3386   178174      estate  Edureka_motors
3387    39250       sedan  Edureka_motors
3388    75065         suv  Edureka_motors
3389   137237      estate  Edureka_motors

[3390 rows x 3 columns]

In [35]:
#overview of entire column
df['car_type'].describe()

count       3390
unique         8
top       estate
freq        1095
Name: car_type, dtype: object

In [36]:
#pandas automatically identifies these columns give median, sum, mean, count,std
df.describe()

            mileage  engine_power      car_price
count  3.390000e+03   3390.000000    3390.000000
mean   1.416107e+05    128.917109   15899.203540
std    6.142411e+04     39.384193    9444.167874
min   -6.400000e+01      0.000000     100.000000
25%    1.032490e+05    100.000000   10900.000000
50%    1.416600e+05    120.000000   14200.000000
75%    1.753025e+05    135.000000   18600.000000
max    1.000376e+06    423.000000  178500.000000

In [44]:
#select rows which has maximum engine power
df['mileage'][df.engine_power == df.engine_power.min()]

1298    81770
Name: mileage, dtype: int64

In [42]:
df['mileage']

0        140245
1         91512
2        113744
3        195063
4        148943
5        150439
6         96715
7        137660
8        160072
9         43032
10        25974
11        54093
12       128629
13       149502
14       193693
15      1000376
16       195889
17       104133
18       191795
19       115854
20       150969
21       120756
22       127017
23       122426
24       155283
25        69695
26       105069
27       203537
28       181271
29         5117
         ...
3360      94497
3361     169294
3362     137052
3363     124805
3364      90747
3365      74031
3366     145348
3367     198146
3368     196537
3369     130961
3370     110966
3371     141717
3372      51133
3373      40030
3374     104733
3375     178770
3376     157955
3377     117791
3378     141587
3379     162056
3380     169762
3381     221500
3382     215427
3383      89159
3384     384698
3385      58189
3386     178174
3387      39250
3388      75065
3389     137237
Name: mileage, Length: 3390, dtype: int64

In [47]:
import pandas as pd
df = pd.read_csv('data.csv')
df

,car_company,model_ID,mileage,engine_power,registration_date,fuel,car_paint_color,car_type,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,sold_date,car_price
0,Edureka_motors,318 Gran Turismo,140245,105,01-10-2014,diesel,white,hatchback,False,True,False,False,True,True,True,True,01-03-2018,19200
1,Edureka_motors,218 Active Tourer,91512,100,01-06-2015,petrol,white,van,False,True,True,False,False,False,True,False,01-05-2018,14300
2,Edureka_motors,318,113744,100,01-06-2012,diesel,grey,sedan,True,True,False,False,False,False,True,False,01-06-2018,14300
3,Edureka_motors,320 Gran Turismo,195063,135,01-05-2014,diesel,black,hatchback,False,True,True,False,True,False,True,True,01-03-2018,16200
4,Edureka_motors,518,148943,100,01-11-2013,diesel,brown,estate,True,True,True,False,True,False,True,True,01-05-2018,17300
5,Edureka_motors,520,150439,120,01-10-2012,diesel,grey,sedan,False,True,False,False,False,False,True,False,01-03-2018,13700
6,Edureka_motors,X5,96715,160,01-06-2014,diesel,brown,suv,True,True,False,True,True,False,True,True,01-08-2018,35400
7,Edureka_motors,116,137660,85,01-10-2012,diesel,blue,hatchback,True,True,False,False,False,True,True,False,01-06-2018,9000
8,Edureka_motors,530,160072,190,01-03-2014,diesel,black,sedan,False,True,True,False,True,True,True,True,01-04-2018,27300
9,Edureka_motors,318 Gran Turismo,43032,100,01-01-2016,diesel,white,hatchback,True,True,False,False,True,False,True,True,01-03-2018,23800
10,Edureka_motors,320,25974,120,01-05-2015,diesel,black,estate,False,True,False,False,False,False,True,False,01-03-2018,9500
11,Edureka_motors,118,54093,110,01-10-2015,diesel,black,subcompact,False,True,False,False,False,True,True,False,01-05-2018,16300
12,Edureka_motors,X6,128629,225,01-05-2014,diesel,white,suv,True,True,True,True,False,True,True,True,01-05-2018,36100
13,Edureka_motors,520,149502,120,01-03-2010,diesel,black,estate,True,True,False,False,False,False,True,False,01-05-2018,9900
14,Edureka_motors,X3,193693,100,01-03-2013,diesel,black,suv,False,True,False,False,False,False,True,True,01-02-2018,10800
15,Edureka_motors,118,1000376,90,01-03-2005,diesel,black,subcompact,True,False,False,False,False,False,True,False,01-06-2018,1400
16,Edureka_motors,320,195889,120,01-03-2014,diesel,black,estate,True,True,False,False,False,False,True,True,01-05-2018,12300
17,Edureka_motors,420 Gran Coupé,104133,140,01-03-2015,diesel,white,hatchback,True,False,True,False,True,False,True,True,01-01-2018,30200
18,Edureka_motors,320 Gran Turismo,191795,135,01-09-2013,petrol,grey,hatchback,True,True,False,False,False,False,True,False,01-07-2018,12000
19,Edureka_motors,318 Gran Turismo,115854,105,01-04-2014,diesel,white,hatchback,False,False,False,False,True,False,True,False,01-04-2018,14400
20,Edureka_motors,320,150969,135,01-01-2012,diesel,blue,estate,False,False,False,False,False,False,True,False,01-01-2018,800
21,Edureka_motors,520,120756,135,01-12-2012,petrol,grey,estate,False,True,False,False,True,False,True,True,01-05-2018,9500
22,Edureka_motors,320,127017,120,01-04-2014,diesel,grey,estate,False,True,False,False,False,False,True,True,01-07-2018,13100
23,Edureka_motors,116,122426,85,01-06-2014,diesel,black,subcompact,False,True,False,False,False,False,True,False,01-06-2018,10600
24,Edureka_motors,320,155283,135,01-02-2013,diesel,grey,estate,True,True,False,False,True,False,True,True,01-05-2018,14400
25,Edureka_motors,640,69695,230,01-04-2012,diesel,blue,coupe,True,True,False,False,True,True,True,True,01-02-2018,36300
26,Edureka_motors,320,105069,135,01-09-2011,diesel,blue,sedan,True,True,True,False,False,False,True,True,01-08-2018,10800
27,Edureka_motors,X5,203537,190,01-01-2014,diesel,black,suv,True,True,True,True,True,False,True,True,01-03-2018,35700
28,Edureka_motors,518,181271,112,01-09-2014,diesel,white,sedan,True,True,True,False,True,False,True,True,01-02-2018,19600
29,Edureka_motors,525,5117,160,01-05-2016,diesel,blue,sedan,True,True,True,False,True,True,True,True,01-04-2018,34900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360,Edureka_motors,M135,94497,239,01-05-2014,petrol,grey,hatchback,True,False,False,False,True,False,True,True,01-02-2018,25700
3361,Edureka_motors,X1,169294,135,01-05-2014,diesel,white,suv,True,True,False,False,True,False,True,True,01-08-2018,14800
3362,Edureka_motors,116,137052,85,01-12-2006,petrol,black,sedan,False,False,False,False,False,False,True,False,01-04-2018,3800
3363,Edureka_motors,535,124805,230,01-03-2014,diesel,black,sedan,True,True,False,False,False,True,True,True,01-02-2018,31900
3364,Edureka_motors,325,90747,160,01-06-2014,diesel,grey,estate,False,False,False,False,False,False,False,False,01-04-2018,11200
3365,Edureka_motors,116,74031,85,01-09-2014,diesel,black,hatchback,False,True,False,False,False,False,True,False,01-02-2018,12000
3366,Edureka_motors,M550,145348,280,01-07-2014,diesel,blue,estate,False,True,False,True,True,True,True,True,01-04-2018,37100
3367,Edureka_motors,518,198146,100,01-03-2014,diesel,black,sedan,True,True,False,False,True,False,True,False,01-03-2018,14900
3368,Edureka_motors,520,196537,137,01-09-2012,diesel,black,hatchback,True,True,False,False,True,False,True,True,01-04-2018,14300
3369,Edureka_motors,320,130961,120,01-03-2015,diesel,blue,sedan,True,True,False,False,False,True,True,True,01-01-2018,17800
3370,Edureka_motors,525,110966,160,01-06-2013,diesel,grey,estate,True,True,False,False,False,False,False,True,01-05-2018,15100
3371,Edureka_motors,318,141717,105,01-06-2014,diesel,black,estate,False,True,False,False,True,True,True,True,01-02-2018,13000
3372,Edureka_motors,325,51133,160,01-04-2015,diesel,white,sedan,True,True,False,False,True,False,True,False,01-03-2018,14400
3373,Edureka_motors,X4,40030,140,01-12-2014,diesel,white,suv,False,False,False,False,False,False,False,True,01-04-2018,34900
3374,Edureka_motors,320,104733,120,01-04-2013,diesel,black,sedan,True,True,False,False,False,False,True,False,01-06-2018,12900
3375,Edureka_motors,X1,178770,105,01-01-2013,diesel,black,suv,True,True,False,True,False,False,True,True,01-07-2018,13400
3376,Edureka_motors,528,157955,190,01-02-2011,petrol,black,estate,True,True,False,False,True,False,True,True,01-05-2018,15000
3377,Edureka_motors,325 Gran Turismo,117791,160,01-02-2014,diesel,grey,hatchback,False,True,False,False,False,True,True,False,01-09-2018,20500
3378,Edureka_motors,116,141587,85,01-10-2012,diesel,black,hatchback,False,False,False,False,True,False,True,False,01-08-2018,9200
3379,Edureka_motors,318,162056,105,01-08-2013,diesel,red,estate,False,True,False,False,False,False,True,False,01-03-2018,9500
3380,Edureka_motors,320,169762,135,01-11-2012,diesel,brown,estate,True,False,False,False,False,False,True,False,01-08-2018,10200
3381,Edureka_motors,325,221500,155,01-07-2009,petrol,grey,coupe,True,True,True,False,True,True,True,True,01-07-2018,9300
3382,Edureka_motors,525,215427,150,01-04-2011,diesel,black,sedan,True,True,False,False,False,False,True,False,01-04-2018,14500
3383,Edureka_motors,320,89159,120,01-07-2013,diesel,black,sedan,True,True,True,False,True,False,True,False,01-05-2018,14500
3384,Edureka_motors,318,384698,85,01-08-2003,diesel,blue,sedan,True,False,False,False,False,False,True,False,01-07-2018,1000
3385,Edureka_motors,X1,58189,100,01-04-2012,diesel,black,suv,False,True,False,False,False,False,True,False,01-06-2018,10600
3386,Edureka_motors,530,178174,190,01-05-2012,diesel,blue,estate,True,True,False,False,True,False,True,True,01-02-2018,16500
3387,Edureka_motors,M3,39250,317,01-11-2015,petrol,black,sedan,True,True,False,False,False,True,True,True,01-05-2018,52400
3388,Edureka_motors,X3,75065,140,01-10-2014,diesel,white,suv,False,False,False,False,False,False,False,True,01-08-2018,20600
3389,Edureka_motors,525,137237,160,01-12-2013,diesel,brown,estate,True,True,False,False,True,True,True,True,01-04-2018,18600

In [50]:
#comparing two csv files using pandas
A = pd.read_csv("data.csv", header=None, usecols=[0], names=['col']).drop_duplicates()
B = pd.read_csv("autos.csv", header=None, usecols=[0], names=['col']).drop_duplicates()
# A - B

In [51]:
pd.merge(A, B, on='col', how='left', indicator=True).query("_merge == 'left_only'")

              col     _merge
0     car_company  left_only
1  Edureka_motors  left_only

In [52]:
# B - A
pd.merge(A, B, on='col', how='right', indicator=True).query("_merge == 'right_only'")

                        col      _merge
0               dateCrawled  right_only
1       2016-03-24 11:52:17  right_only
2       2016-03-24 10:58:45  right_only
3       2016-03-14 12:52:21  right_only
4       2016-03-17 16:54:04  right_only
5       2016-03-31 17:25:20  right_only
6       2016-04-04 17:36:23  right_only
7       2016-04-01 20:48:51  right_only
8       2016-03-21 18:54:38  right_only
9       2016-04-04 23:42:13  right_only
10      2016-03-17 10:53:50  right_only
11      2016-03-26 19:54:18  right_only
12      2016-04-07 10:06:22  right_only
13      2016-03-15 22:49:09  right_only
14      2016-03-21 21:37:40  right_only
15      2016-03-21 12:57:01  right_only
16      2016-03-11 21:39:15  right_only
17      2016-04-01 12:46:46  right_only
18      2016-03-20 10:25:19  right_only
19      2016-03-23 15:48:05  right_only
20      2016-04-01 22:55:47  right_only
21      2016-04-01 19:56:48  right_only
22      2016-03-27 11:38:00  right_only
23      2016-03-23 14:52:51  right_only
24      2016-03-12 19:43:07  right_only
25      2016-03-13 20:40:49  right_only
26      2016-03-18 21:44:09  right_only
27      2016-03-10 19:38:18  right_only
28      2016-03-07 12:51:23  right_only
29      2016-03-09 11:56:38  right_only
...                     ...         ...
280471  2016-03-10 21:54:56  right_only
280472  2016-03-29 13:53:42  right_only
280473  2016-03-19 19:39:53  right_only
280474  2016-03-15 13:52:34  right_only
280475  2016-03-07 16:50:15  right_only
280476  2016-03-23 11:36:43  right_only
280477  2016-03-26 23:25:24  right_only
280478  2016-03-12 16:48:14  right_only
280479  2016-03-14 11:51:01  right_only
280480  2016-03-08 01:52:43  right_only
280481  2016-03-15 01:51:20  right_only
280482  2016-03-15 20:25:20  right_only
280483  2016-04-04 14:41:28  right_only
280484  2016-03-05 18:57:45  right_only
280485  2016-03-26 14:38:18  right_only
280486  2016-03-31 19:52:33  right_only
280487  2016-03-08 13:52:00  right_only
280488  2016-04-01 01:55:58  right_only
280489  2016-03-07 17:06:35  right_only
280490  2016-03-20 18:47:59  right_only
280491  2016-03-16 17:06:19  right_only
280492  2016-04-02 16:43:27  right_only
280493  2016-03-06 21:11:23  right_only
280494  2016-04-04 09:57:12  right_only
280495  2016-03-09 13:37:43  right_only
280496  2016-03-19 19:53:49  right_only
280497  2016-03-21 09:50:58  right_only
280498  2016-03-14 17:48:27  right_only
280499  2016-03-19 18:57:12  right_only
280500  2016-03-07 19:39:19  right_only

[280501 rows x 2 columns]

In [59]:
df = pd.read_excel('data.xls')

ImportError: Install xlrd >= 1.0.0 for Excel support

In [61]:
df.to_csv('autos.csv')
#df.to_csv('autos_noIndex.csv',index = 'False')

In [74]:
df.to_excel('data.xlsx',sheet_name = 'data.xlsx',index = False)

ModuleNotFoundError: No module named 'openpyxl'

In [63]:
import pandas as pd
df = pd.read_csv('data.csv')
df

,car_company,model_ID,mileage,engine_power,registration_date,fuel,car_paint_color,car_type,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,sold_date,car_price
0,Edureka_motors,318 Gran Turismo,140245,105,1/10/2014,diesel,white,hatchback,False,True,False,False,True,True,True,True,1/3/2018,19200
1,Edureka_motors,218 Active Tourer,91512,100,1/6/2015,petrol,white,van,False,True,True,False,False,False,True,False,1/5/2018,14300
2,Edureka_motors,318,113744,100,1/6/2012,diesel,grey,sedan,True,True,False,False,False,False,True,False,1/6/2018,14300
3,Edureka_motors,320 Gran Turismo,195063,135,1/5/2014,diesel,black,hatchback,False,True,True,False,True,False,True,True,1/3/2018,16200
4,Edureka_motors,518,148943,100,1/11/2013,diesel,brown,estate,True,True,True,False,True,False,True,True,1/5/2018,17300
5,Edureka_motors,520,150439,120,1/10/2012,diesel,grey,sedan,False,True,False,False,False,False,True,False,1/3/2018,13700
6,Edureka_motors,X5,96715,160,1/6/2014,diesel,brown,suv,True,True,False,True,True,False,True,True,1/8/2018,35400
7,Edureka_motors,116,137660,85,1/10/2012,diesel,blue,hatchback,True,True,False,False,False,True,True,False,1/6/2018,9000
8,Edureka_motors,530,160072,190,1/3/2014,diesel,black,sedan,False,True,True,False,True,True,True,True,1/4/2018,27300
9,Edureka_motors,318 Gran Turismo,43032,100,1/1/2016,diesel,white,hatchback,True,True,False,False,True,False,True,True,1/3/2018,23800
10,Edureka_motors,320,25974,120,1/5/2015,diesel,black,estate,False,True,False,False,False,False,True,False,1/3/2018,9500
11,Edureka_motors,118,54093,110,1/10/2015,diesel,black,subcompact,False,True,False,False,False,True,True,False,1/5/2018,16300
12,Edureka_motors,X6,128629,225,1/5/2014,diesel,white,suv,True,True,True,True,False,True,True,True,1/5/2018,36100
13,Edureka_motors,520,149502,120,1/3/2010,diesel,black,estate,True,True,False,False,False,False,True,False,1/5/2018,9900
14,Edureka_motors,X3,193693,100,1/3/2013,diesel,black,suv,False,True,False,False,False,False,True,True,1/2/2018,10800
15,Edureka_motors,118,1000376,90,1/3/2005,diesel,black,subcompact,True,False,False,False,False,False,True,False,1/6/2018,1400
16,Edureka_motors,320,195889,120,1/3/2014,diesel,black,estate,True,True,False,False,False,False,True,True,1/5/2018,12300
17,Edureka_motors,420 Gran Coupé,104133,140,1/3/2015,diesel,white,hatchback,True,False,True,False,True,False,True,True,1/1/2018,30200
18,Edureka_motors,320 Gran Turismo,191795,135,1/9/2013,petrol,grey,hatchback,True,True,False,False,False,False,True,False,1/7/2018,12000
19,Edureka_motors,318 Gran Turismo,115854,105,1/4/2014,diesel,white,hatchback,False,False,False,False,True,False,True,False,1/4/2018,14400
20,Edureka_motors,320,150969,135,1/1/2012,diesel,blue,estate,False,False,False,False,False,False,True,False,1/1/2018,800
21,Edureka_motors,520,120756,135,1/12/2012,petrol,grey,estate,False,True,False,False,True,False,True,True,1/5/2018,9500
22,Edureka_motors,320,127017,120,1/4/2014,diesel,grey,estate,False,True,False,False,False,False,True,True,1/7/2018,13100
23,Edureka_motors,116,122426,85,1/6/2014,diesel,black,subcompact,False,True,False,False,False,False,True,False,1/6/2018,10600
24,Edureka_motors,320,155283,135,1/2/2013,diesel,grey,estate,True,True,False,False,True,False,True,True,1/5/2018,14400
25,Edureka_motors,640,69695,230,1/4/2012,diesel,blue,coupe,True,True,False,False,True,True,True,True,1/2/2018,36300
26,Edureka_motors,320,105069,135,1/9/2011,diesel,blue,sedan,True,True,True,False,False,False,True,True,1/8/2018,10800
27,Edureka_motors,X5,203537,190,1/1/2014,diesel,black,suv,True,True,True,True,True,False,True,True,1/3/2018,35700
28,Edureka_motors,518,181271,112,1/9/2014,diesel,white,sedan,True,True,True,False,True,False,True,True,1/2/2018,19600
29,Edureka_motors,525,5117,160,1/5/2016,diesel,blue,sedan,True,True,True,False,True,True,True,True,1/4/2018,34900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360,Edureka_motors,M135,94497,239,1/5/2014,petrol,grey,hatchback,True,False,False,False,True,False,True,True,1/2/2018,25700
3361,Edureka_motors,X1,169294,135,1/5/2014,diesel,white,suv,True,True,False,False,True,False,True,True,1/8/2018,14800
3362,Edureka_motors,116,137052,85,1/12/2006,petrol,black,sedan,False,False,False,False,False,False,True,False,1/4/2018,3800
3363,Edureka_motors,535,124805,230,1/3/2014,diesel,black,sedan,True,True,False,False,False,True,True,True,1/2/2018,31900
3364,Edureka_motors,325,90747,160,1/6/2014,diesel,grey,estate,False,False,False,False,False,False,False,False,1/4/2018,11200
3365,Edureka_motors,116,74031,85,1/9/2014,diesel,black,hatchback,False,True,False,False,False,False,True,False,1/2/2018,12000
3366,Edureka_motors,M550,145348,280,1/7/2014,diesel,blue,estate,False,True,False,True,True,True,True,True,1/4/2018,37100
3367,Edureka_motors,518,198146,100,1/3/2014,diesel,black,sedan,True,True,False,False,True,False,True,False,1/3/2018,14900
3368,Edureka_motors,520,196537,137,1/9/2012,diesel,black,hatchback,True,True,False,False,True,False,True,True,1/4/2018,14300
3369,Edureka_motors,320,130961,120,1/3/2015,diesel,blue,sedan,True,True,False,False,False,True,True,True,1/1/2018,17800
3370,Edureka_motors,525,110966,160,1/6/2013,diesel,grey,estate,True,True,False,False,False,False,False,True,1/5/2018,15100
3371,Edureka_motors,318,141717,105,1/6/2014,diesel,black,estate,False,True,False,False,True,True,True,True,1/2/2018,13000
3372,Edureka_motors,325,51133,160,1/4/2015,diesel,white,sedan,True,True,False,False,True,False,True,False,1/3/2018,14400
3373,Edureka_motors,X4,40030,140,1/12/2014,diesel,white,suv,False,False,False,False,False,False,False,True,1/4/2018,34900
3374,Edureka_motors,320,104733,120,1/4/2013,diesel,black,sedan,True,True,False,False,False,False,True,False,1/6/2018,12900
3375,Edureka_motors,X1,178770,105,1/1/2013,diesel,black,suv,True,True,False,True,False,False,True,True,1/7/2018,13400
3376,Edureka_motors,528,157955,190,1/2/2011,petrol,black,estate,True,True,False,False,True,False,True,True,1/5/2018,15000
3377,Edureka_motors,325 Gran Turismo,117791,160,1/2/2014,diesel,grey,hatchback,False,True,False,False,False,True,True,False,1/9/2018,20500
3378,Edureka_motors,116,141587,85,1/10/2012,diesel,black,hatchback,False,False,False,False,True,False,True,False,1/8/2018,9200
3379,Edureka_motors,318,162056,105,1/8/2013,diesel,red,estate,False,True,False,False,False,False,True,False,1/3/2018,9500
3380,Edureka_motors,320,169762,135,1/11/2012,diesel,brown,estate,True,False,False,False,False,False,True,False,1/8/2018,10200
3381,Edureka_motors,325,221500,155,1/7/2009,petrol,grey,coupe,True,True,True,False,True,True,True,True,1/7/2018,9300
3382,Edureka_motors,525,215427,150,1/4/2011,diesel,black,sedan,True,True,False,False,False,False,True,False,1/4/2018,14500
3383,Edureka_motors,320,89159,120,1/7/2013,diesel,black,sedan,True,True,True,False,True,False,True,False,1/5/2018,14500
3384,Edureka_motors,318,384698,85,1/8/2003,diesel,blue,sedan,True,False,False,False,False,False,True,False,1/7/2018,1000
3385,Edureka_motors,X1,58189,100,1/4/2012,diesel,black,suv,False,True,False,False,False,False,True,False,1/6/2018,10600
3386,Edureka_motors,530,178174,190,1/5/2012,diesel,blue,estate,True,True,False,False,True,False,True,True,1/2/2018,16500
3387,Edureka_motors,M3,39250,317,1/11/2015,petrol,black,sedan,True,True,False,False,False,True,True,True,1/5/2018,52400
3388,Edureka_motors,X3,75065,140,1/10/2014,diesel,white,suv,False,False,False,False,False,False,False,True,1/8/2018,20600
3389,Edureka_motors,525,137237,160,1/12/2013,diesel,brown,estate,True,True,False,False,True,True,True,True,1/4/2018,18600

In [69]:
g = df.groupby('mileage')
g.count()

,car_company,model_ID,engine_power,registration_date,fuel,car_paint_color,car_type,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,sold_date,car_price
mileage,,,,,,,,,,,,,,,,,
-64,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2399,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2970,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3478,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4530,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5117,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5578,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6572,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9406,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10708,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10955,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
11700,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
11917,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
12508,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
12541,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
12580,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
13022,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
13412,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
13485,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
13657,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
13818,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
13929,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
14041,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
14503,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
14533,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
14902,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
15084,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
15106,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
16615,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
16726,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333612,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
333820,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
339716,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
339732,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
350615,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
351046,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
352167,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
359648,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
362902,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
364547,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
365262,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
365584,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
366026,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
367523,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
370014,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
370256,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
375686,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
378915,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
384170,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
384698,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
388616,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
391309,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
394135,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
398043,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
400654,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
405816,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
439060,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
477571,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
484615,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1000376,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [68]:
g = df.groupby('car_type')
print(g.count)

<bound method DataFrameGroupBy.count of <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0DA66C30>>

In [66]:
for mileage,mileage_df in g:
    print(mileage)
    print(mileage_df)

convertible
         car_company model_ID  mileage  engine_power registration_date  \
140   Edureka_motors      325   205219           145          1/5/2009
343   Edureka_motors      318   196092            85         1/10/1995
502   Edureka_motors      118   140411           100          1/2/2012
627   Edureka_motors      118   115560           105          1/8/2009
865   Edureka_motors      420    90401           135         1/10/2014
1117  Edureka_motors       M3   270907           236          1/8/1996
1275  Edureka_motors       Z4   124516           125          1/7/2004
1326  Edureka_motors      330   142483           180          1/1/2012
1363  Edureka_motors      325   205474           145          1/5/2009
1490  Edureka_motors      420    65988           135          1/7/2014
1586  Edureka_motors      420    77061           135          1/8/2015
1636  Edureka_motors       M4    13929           317          1/4/2016
1730  Edureka_motors      135   126213           225          1/2/2013
1775  Edureka_motors      218    24868           100          1/1/2016
1876  Edureka_motors      318   187294           105          1/9/2001
1883  Edureka_motors      650    24452           270          1/1/2008
1892  Edureka_motors      320   194192           120          1/7/2008
1915  Edureka_motors      320   183297           120          1/4/2012
2021  Edureka_motors      120   208945           130          1/4/2008
2029  Edureka_motors      218    17267           110          1/3/2016
2073  Edureka_motors      318   187104           105          1/9/2001
2091  Edureka_motors      325   228000           145          1/9/2009
2157  Edureka_motors       Z4   123809           125          1/7/2004
2197  Edureka_motors      420    36696           120          1/7/2014
2394  Edureka_motors       Z4    43662           180          1/5/2013
2489  Edureka_motors      320    77115           135          1/9/2012
2665  Edureka_motors      420   128035           135          1/7/2014
2667  Edureka_motors      335   152352           225          1/5/2011
2826  Edureka_motors      320   139541           135          1/6/2013
3060  Edureka_motors      425    97097           160         1/12/2014
3130  Edureka_motors      220    21167           135          1/7/2015
3339  Edureka_motors      120   240788           120          1/1/2009

        fuel car_paint_color     car_type  feature1  feature2  feature3  \
140   diesel            grey  convertible      True      True     False
343   petrol            blue  convertible      True     False     False
502   diesel           black  convertible      True      True     False
627   petrol           white  convertible      True      True     False
865   diesel            grey  convertible      True      True     False
1117  petrol           black  convertible      True     False     False
1275  petrol           black  convertible      True     False     False
1326  diesel            blue  convertible      True      True     False
1363  diesel            grey  convertible      True      True     False
1490  diesel            grey  convertible      True      True     False
1586  diesel           black  convertible      True      True     False
1636  petrol            grey  convertible      True      True     False
1730  petrol           white  convertible     False     False     False
1775  petrol            grey  convertible     False      True     False
1876  petrol             red  convertible      True     False     False
1883  petrol            grey  convertible      True     False     False
1892  diesel           beige  convertible      True      True     False
1915  diesel           white  convertible     False     False     False
2021  diesel            grey  convertible      True      True     False
2029  diesel           white  convertible      True      True     False
2073  petrol             red  convertible      True     False     False
2091  diesel           black  convertible      True      True     False
2157  petrol           black  convertible      True     False     False
2197  diesel           black  convertible      True      True     False
2394  petrol          orange  convertible      True     False     False
2489  diesel            blue  convertible      True      True     False
2665  diesel             red  convertible      True      True     False
2667  petrol           black  convertible      True      True     False
2826  diesel           white  convertible     False     False     False
3060  diesel          silver  convertible      True      True     False
3130  petrol           white  convertible     False     False      True
3339  diesel            grey  convertible      True     False     False

      feature4  feature5  feature6  feature7  feature8 sold_date  car_price
140      False      True      True      True      True  1/2/2018      12400
343      False     False     False     False     False  1/5/2018       1800
502      False      True      True      True     False  1/1/2018      11300
627      False     False      True      True     False  1/2/2018       6100
865      False      True      True      True      True  1/5/2018      26300
1117     False     False      True      True     False  1/8/2018      12100
1275     False     False      True      True     False  1/6/2018       6300
1326     False      True     False      True      True  1/8/2018      15800
1363     False      True      True      True      True  1/4/2018      11000
1490     False      True      True      True      True  1/5/2018      28700
1586     False      True      True      True      True  1/3/2018      36300
1636     False     False      True      True      True  1/2/2018      69700
1730     False     False      True      True      True  1/5/2018      16800
1775     False     False     False      True      True  1/5/2018      31000
1876     False     False      True      True     False  1/6/2018       2400
1883     False     False     False      True     False  1/7/2018       6800
1892     False      True     False      True     False  1/7/2018      11800
1915     False      True     False      True     False  1/2/2018      10200
2021     False      True     False      True      True  1/4/2018       8300
2029     False      True     False      True      True  1/7/2018      24200
2073     False     False      True      True     False  1/8/2018       2600
2091     False      True     False      True      True  1/3/2018      13300
2157     False     False      True      True     False  1/5/2018       6500
2197     False      True     False      True      True  1/7/2018      34300
2394     False      True     False      True     False  1/5/2018      20800
2489     False      True     False      True      True  1/3/2018      19300
2665     False      True      True      True      True  1/2/2018      25100
2667     False      True      True      True      True  1/2/2018      17100
2826     False      True     False      True     False  1/3/2018      17300
3060     False     False      True      True      True  1/4/2018      33400
3130     False     False     False     False      True  1/4/2018      21900
3339     False     False     False      True     False  1/6/2018       5500
coupe
         car_company        model_ID  mileage  engine_power registration_date  \
25    Edureka_motors             640    69695           230          1/4/2012
37    Edureka_motors             420   107375           135          1/7/2014
52    Edureka_motors             640   136545           230          1/7/2012
76    Edureka_motors             640    36139           230          1/9/2012
80    Edureka_motors             316   265751            85          1/1/2002
81    Edureka_motors             218    23949           100          1/1/2016
92    Edureka_motors             420    61620           120          1/1/2014
97    Edureka_motors             320   260217           120          1/4/2008
237   Edureka_motors            M235    37619           240          1/5/2014
288   Edureka_motors             420    50222           135          1/4/2014
301   Edureka_motors             420    96260           135          1/2/2014
327   Edureka_motors             640    92527           230          1/3/2012
395   Edureka_motors              M3    29925           309          1/9/2012
405   Edureka_motors             420   125965           135         1/10/2014
441   Edureka_motors             420    54993           135          1/3/2014
460   Edureka_motors             320   102178           120          1/9/2009
804   Edureka_motors             420   181644           135          1/5/2014
874   Edureka_motors             120   220296           130          1/3/2011
929   Edureka_motors  430 Gran Coupé   162327           190          1/7/2014
963   Edureka_motors             640    69768           230          1/1/2012
970   Edureka_motors  435 Gran Coupé    97806           230          1/8/2015
986   Edureka_motors             135    87304           225          1/9/2011
1036  Edureka_motors             420    46706           120          1/4/2014
1080  Edureka_motors             420   147130           135          1/1/2014
1178  Edureka_motors  640 Gran Coupé    63421           230          1/9/2014
1186  Edureka_motors            M235    34082           240         1/11/2015
1203  Edureka_motors              M4    69410           317          1/2/2015
1247  Edureka_motors             118   147180           100          1/5/2012
1304  Edureka_motors             330   122991           170         1/11/2017
1397  Edureka_motors             320   202812           130          1/2/2009
...              ...             ...      ...           ...               ...
2106  Edureka_motors             630   149943           190          1/1/2007
2114  Edureka_motors             435    26062           225          1/2/2015
2145  Edureka_motors             320   187967           120          1/4/2001
2156  Edureka_motors             320   110818           135          1/4/2012
2203  Edureka_motors             420    42077           135          1/4/2014
2261  Edureka_motors             420    64386           135          1/4/2014
2326  Edureka_motors             420    14041           140          1/7/2016
2373  Edureka_motors             218    34463           105          1/6/2015
2385  Edureka_motors             435    45536           250         1/10/2014
2448  Edureka_motors             218    51618           105         1/10/2015
2456  Edureka_motors             420    65008           140          1/3/2015
2499  Edureka_motors             420    48431           135          1/4/2014
2501  Edureka_motors             320   202363           120         1/11/2007
2586  Edureka_motors             420    47876           120          1/4/2014
2589  Edureka_motors             320   175311           130         1/12/2009
2663  Edureka_motors             420   174740           135         1/11/2013
2702  Edureka_motors             320    93066           135          1/1/2013
2706  Edureka_motors             420   143853           120         1/11/2013
2724  Edureka_motors             225    78638           160         1/10/2014
2769  Edureka_motors             218    50421           100         1/10/2015
2869  Edureka_motors             335   274992           210          1/1/2012
2933  Edureka_motors             320   202811           120         1/11/2007
2973  Edureka_motors             420    47902           140          1/1/2016
3046  Edureka_motors             430    70880           190          1/5/2014
3051  Edureka_motors             420    45299           120         1/11/2015
3107  Edureka_motors             320   189137           130          1/7/2009
3165  Edureka_motors             320    39228           135          1/1/2013
3203  Edureka_motors             320   186950           120          1/4/2001
3311  Edureka_motors             420    61300           135          1/3/2015
3381  Edureka_motors             325   221500           155          1/7/2009

        fuel car_paint_color car_type  feature1  feature2  feature3  feature4  \
25    diesel            blue    coupe      True      True     False     False
37    diesel           white    coupe      True      True     False     False
52    diesel           black    coupe      True      True      True     False
76    diesel           beige    coupe      True      True     False     False
80    petrol          silver    coupe     False     False     False     False
81    diesel            blue    coupe     False      True     False     False
92    diesel            blue    coupe     False      True     False      True
97    diesel            grey    coupe      True      True     False     False
237   petrol           black    coupe      True     False     False     False
288   diesel            grey    coupe     False     False     False     False
301   diesel           white    coupe     False      True     False     False
327   diesel            blue    coupe      True      True      True     False
395   petrol          silver    coupe      True      True     False     False
405   diesel            blue    coupe     False      True     False     False
441   diesel           black    coupe     False     False     False     False
460   petrol            grey    coupe      True     False     False     False
804   diesel            blue    coupe      True      True     False     False
874   diesel           black    coupe     False     False     False     False
929   diesel           black    coupe      True      True     False      True
963   diesel           black    coupe      True      True      True     False
970   diesel           black    coupe      True      True     False      True
986   petrol           white    coupe      True      True      True     False
1036  diesel            blue    coupe      True      True     False     False
1080  diesel           black    coupe     False      True     False     False
1178  diesel            blue    coupe      True      True      True      True
1186  petrol            grey    coupe     False      True      True     False
1203  petrol           white    coupe      True      True     False     False
1247  diesel           black    coupe      True     False      True     False
1304  diesel           green    coupe      True      True      True     False
1397  diesel          silver    coupe     False     False     False     False
...      ...             ...      ...       ...       ...       ...       ...
2106  petrol           black    coupe      True      True      True     False
2114  petrol            blue    coupe      True      True     False      True
2145  petrol            grey    coupe      True      True     False     False
2156  diesel           black    coupe      True      True      True     False
2203  diesel           black    coupe     False     False     False     False
2261  diesel            grey    coupe     False     False     False     False
2326  diesel            blue    coupe      True      True     False     False
2373  diesel            blue    coupe     False     False      True     False
2385  petrol           white    coupe      True      True      True     False
2448  diesel            grey    coupe     False      True     False     False
2456  diesel           white    coupe      True     False      True     False
2499  diesel            grey    coupe      True      True     False      True
2501  diesel           black    coupe      True     False     False     False
2586  diesel            blue    coupe      True      True     False     False
2589  diesel           black    coupe      True     False     False      True
2663  diesel           white    coupe      True      True      True     False
2702  diesel           black    coupe     False     False     False      True
2706  diesel           black    coupe      True      True      True     False
2724  diesel           black    coupe     False      True     False     False
2769  diesel            grey    coupe      True      True     False     False
2869  diesel           black    coupe      True      True     False     False
2933  diesel           black    coupe      True     False     False     False
2973  diesel           black    coupe      True      True     False     False
3046  diesel            blue    coupe     False      True     False     False
3051  diesel           brown    coupe      True      True     False     False
3107  diesel            grey    coupe     False     False     False     False
3165  diesel            grey    coupe     False     False     False     False
3203  petrol            grey    coupe      True      True     False     False
3311  diesel           black    coupe      True      True     False     False
3381  petrol            grey    coupe      True      True      True     False

      feature5  feature6  feature7  feature8 sold_date  car_price
25        True      True      True      True  1/2/2018      36300
37        True      True      True     False  1/5/2018      23800
52        True      True      True      True  1/8/2018      29200
76        True     False      True      True  1/5/2018      32100
80       False     False     False     False  1/1/2018       1000
81        True     False      True     False  1/4/2018      26400
92        True      True      True      True  1/6/2018      26800
97        True      True      True      True  1/6/2018       8500
237       True      True      True      True  1/5/2018      27700
288      False     False     False      True  1/5/2018      26200
301       True      True      True     False  1/4/2018      25300
327      False     False      True      True  1/3/2018      32000
395       True      True      True      True  1/4/2018      47000
405       True      True      True     False  1/4/2018      23400
441      False     False     False     False  1/3/2018      18400
460       True     False      True      True  1/8/2018      10700
804       True     False      True      True  1/1/2018      19000
874       True     False      True     False  1/4/2018       7500
929       True      True      True      True  1/5/2018      23300
963       True     False      True      True  1/4/2018      36900
970       True      True      True      True  1/3/2018      31500
986       True      True      True      True  1/5/2018      23500
1036      True      True      True      True  1/6/2018      24100
1080      True     False      True      True  1/4/2018      23200
1178      True      True      True      True  1/5/2018      45800
1186      True      True      True      True  1/1/2018      30200
1203     False      True      True      True  1/3/2018      53600
1247     False     False      True     False  1/7/2018       8400
1304      True     False      True     False  1/8/2018      11300
1397      True     False      True      True  1/4/2018       8200
...        ...       ...       ...       ...       ...        ...
2106      True      True      True      True  1/5/2018      10500
2114      True      True      True      True  1/3/2018      30500
2145     False      True      True     False  1/4/2018       3100
2156     False     False      True      True  1/9/2018      15000
2203      True      True      True     False  1/3/2018      22400
2261      True      True      True      True  1/3/2018      23800
2326      True      True      True     False  1/9/2018      27700
2373     False      True      True      True  1/9/2018      23800
2385      True      True      True      True  1/2/2018      38900
2448      True     False      True     False  1/6/2018      17100
2456      True      True      True     False  1/6/2018      24200
2499      True      True      True     False  1/4/2018      27000
2501      True     False      True     False  1/7/2018       7600
2586      True      True      True      True  1/7/2018      25000

         car_company model_ID  mileage  engine_power registration_date  \
4     Edureka_motors      518   148943           100         1/11/2013
10    Edureka_motors      320    25974           120          1/5/2015
13    Edureka_motors      520   149502           120          1/3/2010
16    Edureka_motors      320   195889           120          1/3/2014
20    Edureka_motors      320   150969           135          1/1/2012
21    Edureka_motors      520   120756           135         1/12/2012
22    Edureka_motors      320   127017           120          1/4/2014
24    Edureka_motors      320   155283           135          1/2/2013
36    Edureka_motors      320   131121           135          1/2/2015
40    Edureka_motors      318    52923           105          1/4/2015
43    Edureka_motors      320   108330           120          1/9/2014
44    Edureka_motors      316   127445            85          1/8/2013
46    Edureka_motors      520   194522           120         1/10/2012
50    Edureka_motors      320   174604           122          1/4/2013
51    Edureka_motors      520   147891           135          1/5/2014
53    Edureka_motors      316   194410            85          1/6/2014
54    Edureka_motors      525   398043           130          1/3/2005
55    Edureka_motors      318   144913           105          1/9/2013
56    Edureka_motors      318   125677           100          1/3/2013
58    Edureka_motors      520   185387           120         1/10/2011
65    Edureka_motors      525   223995           155          1/4/2013
70    Edureka_motors      535   272389           230          1/3/2012
71    Edureka_motors      318    65462           105          1/4/2014
82    Edureka_motors      525   160142           160          1/4/2013
83    Edureka_motors      330   231261           180          1/3/2012
85    Edureka_motors      520   104531           135          1/5/2014
91    Edureka_motors      520    85705           120          1/4/2013
93    Edureka_motors      520   181409           120          1/3/2014
96    Edureka_motors      318   173233           105          1/5/2014
99    Edureka_motors      535   110058           230          1/3/2012
...              ...      ...      ...           ...               ...
3307  Edureka_motors      318   178914           100          1/9/2013
3314  Edureka_motors      320   157615           120          1/3/2015
3315  Edureka_motors      316   161739            85          1/8/2014
3317  Edureka_motors      520   196890           135         1/10/2010
3318  Edureka_motors      525    98377           160          1/2/2013
3319  Edureka_motors      320    47771           135         1/10/2012
3320  Edureka_motors      520    96395           135          1/4/2012
3321  Edureka_motors      318   170185           100          1/4/2014
3325  Edureka_motors      525   232281           150         1/11/2010
3328  Edureka_motors      520   246424           120          1/7/2010
3329  Edureka_motors      520   159214           135          1/8/2012
3333  Edureka_motors      318   126978           100          1/3/2013
3336  Edureka_motors      520   167923           135          1/9/2012
3341  Edureka_motors      520    74833           120          1/2/2013
3343  Edureka_motors      320   155616           135          1/2/2013
3344  Edureka_motors      520   196729           135          1/9/2013
3348  Edureka_motors      320   177568           120         1/10/2013
3351  Edureka_motors      320   175797           135          1/2/2013
3354  Edureka_motors      520   142340           140          1/9/2014
3358  Edureka_motors      520   266990           135          1/7/2013
3359  Edureka_motors      520   139012           135         1/12/2013
3364  Edureka_motors      325    90747           160          1/6/2014
3366  Edureka_motors     M550   145348           280          1/7/2014
3370  Edureka_motors      525   110966           160          1/6/2013
3371  Edureka_motors      318   141717           105          1/6/2014
3376  Edureka_motors      528   157955           190          1/2/2011
3379  Edureka_motors      318   162056           105          1/8/2013
3380  Edureka_motors      320   169762           135         1/11/2012
3386  Edureka_motors      530   178174           190          1/5/2012
3389  Edureka_motors      525   137237           160         1/12/2013

        fuel car_paint_color car_type  feature1  feature2  feature3  feature4  \
4     diesel           brown   estate      True      True      True     False
10    diesel           black   estate     False      True     False     False
13    diesel           black   estate      True      True     False     False
16    diesel           black   estate      True      True     False     False
20    diesel            blue   estate     False     False     False     False
21    petrol            grey   estate     False      True     False     False
22    diesel            grey   estate     False      True     False     False
24    diesel            grey   estate      True      True     False     False
36    diesel           black   estate     False      True     False     False
40    diesel            grey   estate     False      True     False      True
43    diesel           black   estate      True      True     False     False
44    diesel            grey   estate      True      True     False     False
46    diesel            grey   estate      True      True     False     False
50    diesel           black   estate     False      True     False     False
51    diesel           black   estate     False      True     False      True
53    diesel           black   estate     False      True     False     False
54    diesel            grey   estate     False     False     False     False
55    diesel            blue   estate      True      True     False     False
56    diesel            blue   estate      True      True     False     False
58    diesel           brown   estate      True      True     False     False
65    diesel           black   estate      True      True     False      True
70    diesel           black   estate      True      True      True      True
71    diesel           black   estate      True      True     False     False
82    diesel            blue   estate      True      True     False      True
83    diesel           black   estate     False      True     False     False
85    diesel           white   estate      True      True     False      True
91    diesel           black   estate      True      True     False     False
93    diesel            grey   estate      True      True     False     False
96    diesel            grey   estate     False      True     False     False
99    diesel            grey   estate      True      True      True      True
...      ...             ...      ...       ...       ...       ...       ...
3307  diesel            blue   estate     False      True     False     False
3314  diesel           brown   estate      True      True     False     False
3315  diesel            grey   estate     False      True     False     False
3317  diesel            grey   estate      True      True     False     False
3318  diesel           black   estate      True      True     False      True
3319  diesel          silver   estate     False      True     False     False
3320  diesel            blue   estate      True      True     False     False
3321  diesel           white   estate     False     False     False     False
3325  diesel            grey   estate      True      True      True     False
3328  diesel           black   estate      True      True     False     False
3329  diesel            grey   estate     False      True     False     False
3333  diesel            grey   estate      True      True      True     False
3336  diesel            blue   estate      True      True     False     False
3341  diesel           black   estate      True      True     False     False
3343  diesel            grey   estate      True      True     False     False
3344  diesel            blue   estate      True      True     False     False
3348  diesel           brown   estate     False      True     False     False
3351  diesel           black   estate     False      True     False     False
3354  diesel           black   estate      True      True      True     False
3358  diesel            grey   estate      True      True     False     False
3359  diesel            grey   estate      True      True     False     False
3364  diesel            grey   estate     False     False     False     False
3366  diesel            blue   estate     False      True     False      True
3370  diesel            grey   estate      True      True     False     False
3371  diesel           black   estate     False      True     False     False
3376  petrol           black   estate      True      True     False     False
3379  diesel             red   estate     False      True     False     False
3380  diesel           brown   estate      True     False     False     False
3386  diesel            blue   estate      True      True     False     False
3389  diesel           brown   estate      True      True     False     False

      feature5  feature6  feature7  feature8 sold_date  car_price
4         True     False      True      True  1/5/2018      17300
10       False     False      True     False  1/3/2018       9500
13       False     False      True     False  1/5/2018       9900
16       False     False      True      True  1/5/2018      12300
20       False     False      True     False  1/1/2018        800
21        True     False      True      True  1/5/2018       9500
22       False     False      True      True  1/7/2018      13100
24        True     False      True      True  1/5/2018      14400
36        True     False      True      True  1/5/2018      16300
40       False     False      True     False  1/7/2018      30600
43        True      True      True     False  1/7/2018      15100
44        True      True      True     False  1/4/2018      11100
46       False     False      True     False  1/4/2018      12100
50       False     False      True      True  1/4/2018      12600
51        True     False      True      True  1/2/2018      17100
53        True     False      True      True  1/1/2018       8400
54       False     False      True     False  1/4/2018       3500
55       False     False      True     False  1/2/2018      10200
56       False     False      True     False  1/4/2018      10900
58       False     False      True     False  1/3/2018       7100
65        True     False      True      True  1/6/2018      15000
70        True     False      True      True  1/7/2018      13700
71       False     False      True     False  1/5/2018       9600
82        True      True      True      True  1/3/2018      18600
83        True      True      True     False  1/2/2018       9500
85        True      True      True      True  1/3/2018      20200
91       False      True      True     False  1/7/2018      15600
93        True     False      True     False  1/8/2018      14800
96        True     False      True     False  1/4/2018      11800
99        True     False      True      True  1/5/2018      21900
...        ...       ...       ...       ...       ...        ...
3307      True     False      True     False  1/7/2018       9600
3314     False     False      True      True  1/2/2018       9900
3315     False     False      True     False  1/2/2018      11000
3317      True     False      True      True  1/5/2018      15100
3318      True     False      True      True  1/4/2018      23200
3319     False     False      True     False  1/3/2018      13100
3320     False     False      True      True  1/5/2018      17600
3321     False      True      True     False  1/5/2018      10500
3325      True     False      True      True  1/4/2018      14500
3328     False     False      True     False  1/8/2018       6000
3329      True     False      True      True  1/7/2018      14400
3333     False     False      True      True  1/5/2018      11200
3336      True      True      True      True  1/7/2018      13300
3341     False     False      True     False  1/3/2018      17100
3343      True     False      True      True  1/7/2018      14200
3344      True     False      True      True  1/6/2018      12500
3348     False     False      True     False  1/1/2018      10200
3351     False     False      True     False  1/4/2018       8700
3354      True      True      True      True  1/3/2018      20200
3358      True     False      True      True  1/7/2018      11900
3359      True      True      True      True  1/5/2018      16200
3364     False     False     False     False  1/4/2018      11200
3366      True      True      True      True  1/4/2018      37100
3370     False     False     False      True  1/5/2018      15100
3371      True      True      True      True  1/2/2018      13000
3376      True     False      True      True  1/5/2018      15000
3379     False     False      True     False  1/3/2018       9500
3380     False     False      True     False  1/8/2018      10200
3386      True     False      True      True  1/2/2018      16500
3389      True      True      True      True  1/4/2018      18600

[1095 rows x 18 columns]
hatchback
         car_company          model_ID  mileage  engine_power  \
0     Edureka_motors  318 Gran Turismo   140245           105
3     Edureka_motors  320 Gran Turismo   195063           135
7     Edureka_motors               116   137660            85
9     Edureka_motors  318 Gran Turismo    43032           100
17    Edureka_motors    420 Gran Coupé   104133           140
18    Edureka_motors  320 Gran Turismo   191795           135
19    Edureka_motors  318 Gran Turismo   115854           105
33    Edureka_motors    420 Gran Coupé    64380           140
41    Edureka_motors               320   184180           120
45    Edureka_motors               118   105809           100
47    Edureka_motors  320 Gran Turismo    56938           120
57    Edureka_motors               116   123526            85
62    Edureka_motors  318 Gran Turismo   123574           105
63    Edureka_motors               118   199727           105
64    Edureka_motors  520 Gran Turismo   370256           135
66    Edureka_motors               118    50972           110
86    Edureka_motors               116    77065            85
87    Edureka_motors               118   366026            90
88    Edureka_motors               116   113121            85
89    Edureka_motors  530 Gran Turismo   273532           180
94    Edureka_motors               116    43822            85
105   Edureka_motors               120   128502           135
110   Edureka_motors    420 Gran Coupé   177379           135
111   Edureka_motors    418 Gran Coupé   152216           100
115   Edureka_motors               125   109592           155
129   Edureka_motors               116   200985            85
135   Edureka_motors               118   113964            90
145   Edureka_motors               116   109377            85
147   Edureka_motors               116   169094            85
151   Edureka_motors               116   129562            85
...              ...               ...      ...           ...
3186  Edureka_motors               116   107248            87
3193  Edureka_motors               116   103195            85
3195  Edureka_motors               116   129357            85
3196  Edureka_motors               116   177472            85
3199  Edureka_motors  320 Gran Turismo   127499           135
3204  Edureka_motors    420 Gran Coupé   139258           135
3208  Edureka_motors               116   114077            85
3216  Edureka_motors               116   177549            85
3219  Edureka_motors               116   116652            85
3233  Edureka_motors  320 Gran Turismo    70461           135
3243  Edureka_motors               118    53647           110
3249  Edureka_motors               116    52301            85
3258  Edureka_motors               120   139318           135
3260  Edureka_motors               116   102677           100
3278  Edureka_motors               116   185869            85
3297  Edureka_motors               116   179112            85
3302  Edureka_motors  320 Gran Turismo   144945           135
3309  Edureka_motors               116   186903            85
3313  Edureka_motors               116   130353            85
3326  Edureka_motors               320   183958           120
3337  Edureka_motors  318 Gran Turismo   111235           105
3347  Edureka_motors               116   135880            85
3349  Edureka_motors               116   137867            85
3350  Edureka_motors                i3    46359           125
3352  Edureka_motors               116   130333            85
3360  Edureka_motors              M135    94497           239
3365  Edureka_motors               116    74031            85
3368  Edureka_motors               520   196537           137
3377  Edureka_motors  325 Gran Turismo   117791           160
3378  Edureka_motors               116   141587            85

     registration_date     fuel car_paint_color   car_type  feature1  \
0            1/10/2014   diesel           white  hatchback     False
3             1/5/2014   diesel           black  hatchback     False
7            1/10/2012   diesel            blue  hatchback      True
9             1/1/2016   diesel           white  hatchback      True
17            1/3/2015   diesel           white  hatchback      True
18            1/9/2013   petrol            grey  hatchback      True
19            1/4/2014   diesel           white  hatchback     False
33           1/11/2015   diesel          silver  hatchback      True
41            1/8/2013   diesel           brown  hatchback     False
45            1/1/2012   diesel           white  hatchback     False
47            1/1/2014   diesel             red  hatchback     False
57           1/10/2011   diesel            blue  hatchback     False
62            1/5/2014   diesel           black  hatchback     False
63            1/5/2013   diesel           white  hatchback     False
64           1/11/2012   diesel           black  hatchback      True
66           1/10/2015   diesel            blue  hatchback     False
86            1/6/2013   diesel            blue  hatchback      True
87           1/11/2006   diesel            grey  hatchback     False
88            1/8/2012   diesel           brown  hatchback      True
89            1/8/2010   diesel           beige  hatchback      True
94           1/11/2015   diesel           black  hatchback     False
105          1/12/2013   diesel            blue  hatchback     False
110           1/4/2014   diesel            grey  hatchback      True
111           1/2/2015   diesel          silver  hatchback      True
115           1/3/2013   diesel           black  hatchback      True
129           1/5/2012   diesel            grey  hatchback     False
135           1/1/2008   diesel           black  hatchback      True
145           1/4/2012   diesel           black  hatchback     False
147           1/2/2014   diesel           black  hatchback     False
151           1/2/2012   diesel            grey  hatchback      True
...                ...      ...             ...        ...       ...
3186          1/4/2013   diesel           black  hatchback      True
3193          1/6/2013   diesel            grey  hatchback      True
3195         1/10/2012   diesel           black  hatchback     False
3196          1/3/2012   diesel           black  hatchback     False
3199         1/10/2013   diesel            blue  hatchback     False
3204         1/10/2014   diesel           white  hatchback      True
3208          1/5/2013   diesel            grey  hatchback     False
3216          1/2/2014   diesel           white  hatchback     False

         car_company        model_ID  mileage  engine_power registration_date  \
2     Edureka_motors             318   113744           100          1/6/2012
5     Edureka_motors             520   150439           120         1/10/2012
8     Edureka_motors             530   160072           190          1/3/2014
26    Edureka_motors             320   105069           135          1/9/2011
28    Edureka_motors             518   181271           112          1/9/2014
29    Edureka_motors             525     5117           160          1/5/2016
30    Edureka_motors             320    67526           120         1/12/2015
32    Edureka_motors             318   122823           105          1/1/2014
34    Edureka_motors             520   166451           120          1/5/2013
39    Edureka_motors             316    51807            85          1/7/2016
49    Edureka_motors             730   185543           155          1/6/2011
60    Edureka_motors             316   106364            85          1/9/2013
67    Edureka_motors             520   167509           135          1/8/2013
75    Edureka_motors             316   145325            87          1/7/2012
77    Edureka_motors             520   189039           135         1/11/2013
79    Edureka_motors             318   175400           100          1/7/2012
98    Edureka_motors             320   172230           135          1/3/2013
100   Edureka_motors             520    93697           120          1/3/2015
101   Edureka_motors             520    80596           135          1/2/2014
104   Edureka_motors             523   118467           120          1/2/1998
108   Edureka_motors              M3    33670           317          1/3/2014
117   Edureka_motors             320   192784           120          1/5/2011
118   Edureka_motors             318   106603           100          1/3/2015
124   Edureka_motors             530   150586           190          1/3/2015
125   Edureka_motors             320   110668           120          1/2/2014
131   Edureka_motors             320   176136           120          1/9/2014
139   Edureka_motors             320   191634           120          1/2/2012
149   Edureka_motors  420 Gran Coupé   173353           135          1/7/2014
150   Edureka_motors             316   172602            85          1/4/2013
159   Edureka_motors             520    86666           135         1/11/2013
...              ...             ...      ...           ...               ...
3281  Edureka_motors             530   188416           180          1/4/2010
3291  Edureka_motors             520   179134           120          1/8/2012
3293  Edureka_motors             320   129057           120          1/7/2008
3294  Edureka_motors             530   185074           190          1/1/2014
3299  Edureka_motors             320   192458           120          1/5/2011
3301  Edureka_motors             318   149146           100          1/8/2012
3303  Edureka_motors             530   195056           189          1/8/2013
3308  Edureka_motors             518   192035           100          1/2/2014
3310  Edureka_motors             535   148493           220          1/2/2011
3324  Edureka_motors             520    82449           120          1/4/2013
3331  Edureka_motors             520   207133           120          1/4/2012
3332  Edureka_motors             318   175783           100          1/7/2012
3334  Edureka_motors             520   104371           120          1/9/2008
3338  Edureka_motors             320   226374           120          1/6/2012
3342  Edureka_motors             118   115233           105          1/9/2009
3345  Edureka_motors             525   171262           150          1/8/2011
3346  Edureka_motors             740    58299           235          1/4/2016
3353  Edureka_motors             520   180498           120         1/10/2013
3356  Edureka_motors             520   116243           120          1/6/2013
3357  Edureka_motors             530   124019           190          1/5/2014
3362  Edureka_motors             116   137052            85         1/12/2006
3363  Edureka_motors             535   124805           230          1/3/2014
3367  Edureka_motors             518   198146           100          1/3/2014
3369  Edureka_motors             320   130961           120          1/3/2015
3372  Edureka_motors             325    51133           160          1/4/2015
3374  Edureka_motors             320   104733           120          1/4/2013
3382  Edureka_motors             525   215427           150          1/4/2011
3383  Edureka_motors             320    89159           120          1/7/2013
3384  Edureka_motors             318   384698            85          1/8/2003
3387  Edureka_motors              M3    39250           317         1/11/2015

        fuel car_paint_color car_type  feature1  feature2  feature3  feature4  \
2     diesel            grey    sedan      True      True     False     False
5     diesel            grey    sedan     False      True     False     False
8     diesel           black    sedan     False      True      True     False
26    diesel            blue    sedan      True      True      True     False
28    diesel           white    sedan      True      True      True     False
29    diesel            blue    sedan      True      True      True     False
30    diesel           black    sedan      True      True     False     False
32    diesel           white    sedan     False      True     False     False
34    diesel           brown    sedan      True      True     False     False
39    diesel            blue    sedan     False      True     False     False
49    diesel           black    sedan      True      True      True     False
60    diesel           black    sedan     False      True     False     False
67    diesel            blue    sedan      True      True     False     False
75    diesel             red    sedan      True     False     False     False
77    diesel            blue    sedan      True      True      True     False
79    diesel           black    sedan     False      True     False     False
98    diesel           black    sedan     False     False     False      True
100   diesel            grey    sedan      True      True     False     False
101   diesel          silver    sedan      True      True     False      True
104   petrol          silver    sedan     False     False     False     False
108   petrol            blue    sedan      True      True     False     False
117   diesel            grey    sedan     False      True     False     False
118   diesel           black    sedan      True      True     False     False
124   diesel           black    sedan      True      True     False     False
125   diesel           black    sedan     False     False     False     False
131   diesel           black    sedan     False      True     False     False
139   diesel           black    sedan      True      True     False     False
149   diesel          silver    sedan     False      True     False      True
150   diesel           black    sedan     False      True     False     False
159   diesel            blue    sedan     False      True     False     False
...      ...             ...      ...       ...       ...       ...       ...
3281  diesel           black    sedan      True      True     False     False
3291  diesel            grey    sedan      True      True      True     False
3293  diesel           black    sedan      True      True     False     False
3294  diesel            grey    sedan      True      True     False     False
3299  diesel            grey    sedan     False      True     False     False
3301  diesel           white    sedan      True      True      True     False
3303  diesel            grey    sedan      True      True     False     False
3308  diesel          silver    sedan      True      True      True     False
3310  diesel            grey    sedan      True      True     False     False
3324  diesel           black    sedan      True      True     False     False
3331  diesel           black    sedan      True      True     False     False
3332  diesel           black    sedan     False      True     False     False
3334  diesel            blue    sedan      True      True      True     False
3338  diesel           black    sedan      True      True      True     False
3342  diesel            blue    sedan      True      True      True     False
3345  diesel           black    sedan      True      True     False     False
3346  diesel            grey    sedan      True      True     False      True
3353  diesel           black    sedan      True      True      True     False
3356  diesel           brown    sedan      True      True     False     False
3357  diesel           black    sedan     False      True     False     False
3362  petrol           black    sedan     False     False     False     False
3363  diesel           black    sedan      True      True     False     False
3367  diesel           black    sedan      True      True     False     False
3369  diesel            blue    sedan      True      True     False     False
3372  diesel           white    sedan      True      True     False     False
3374  diesel           black    sedan      True      True     False     False
3382  diesel           black    sedan      True      True     False     False
3383  diesel           black    sedan      True      True      True     False
3384  diesel            blue    sedan      True     False     False     False
3387  petrol           black    sedan      True      True     False     False

      feature5  feature6  feature7  feature8 sold_date  car_price
2        False     False      True     False  1/6/2018      14300
5        False     False      True     False  1/3/2018      13700
8         True      True      True      True  1/4/2018      27300
26       False     False      True      True  1/8/2018      10800
28        True     False      True      True  1/2/2018      19600
29        True      True      True      True  1/4/2018      34900
30       False     False      True      True  1/3/2018      19000
32        True     False      True     False  1/2/2018      12500
34       False     False      True     False  1/5/2018      11200
39       False      True      True     False  1/6/2018      16400
49        True     False      True      True  1/9/2018      25000
60       False     False      True     False  1/8/2018      10400
67        True      True      True     False  1/8/2018      15500
75        True     False      True     False  1/5/2018      11800
77        True      True      True      True  1/2/2018      22000
79       False      True      True     False  1/6/2018      11200
98        True     False      True      True  1/9/2018      15800
100       True      True      True     False  1/5/2018      17300
101       True     False      True      True  1/6/2018      22600
104      False     False     False     False  1/6/2018        800
108      False      True      True      True  1/4/2018      51200
117      False     False      True     False  1/7/2018       8500
118      False     False      True     False  1/3/2018      13600
124      False      True      True      True  1/5/2018      24300
125      False     False      True     False  1/3/2018      13300
131       True      True      True     False  1/6/2018      13100
139      False      True      True      True  1/7/2018      13200
149       True      True      True     False  1/3/2018      21300
150      False     False      True     False  1/1/2018      10800
159       True     False      True     False  1/6/2018      21200
...        ...       ...       ...       ...       ...        ...
3281      True     False      True     False  1/3/2018      15700
3291      True     False      True     False  1/2/2018      13100
3293     False     False      True      True  1/3/2018       7600
3294      True     False      True      True  1/2/2018      20500
3299     False     False      True     False  1/5/2018      10400
3301     False      True      True     False  1/5/2018      12400
3303     False     False      True      True  1/8/2018      19600
3308      True     False      True      True  1/2/2018      17400
3310      True     False      True      True  1/1/2018      17600
3324      True     False      True      True  1/6/2018      18300
3331     False      True      True     False  1/8/2018      11000
3332     False      True      True     False  1/7/2018      11300
3334     False     False      True     False  1/5/2018      11800
3338     False     False      True     False  1/5/2018      10900
3342      True      True      True     False  1/1/2018       8200
3345     False     False      True      True  1/2/2018      16100
3346     False     False      True      True  1/3/2018      63700
3353      True      True      True     False  1/3/2018      18100
3356     False     False      True     False  1/8/2018      16200
3357      True     False      True      True  1/5/2018      23200
3362     False     False      True     False  1/4/2018       3800
3363     False      True      True      True  1/2/2018      31900
3367      True     False      True     False  1/3/2018      14900
3369     False      True      True      True  1/1/2018      17800
3372      True     False      True     False  1/3/2018      14400
3374     False     False      True     False  1/6/2018      12900
3382     False     False      True     False  1/4/2018      14500
3383      True     False      True     False  1/5/2018      14500
3384     False     False      True     False  1/7/2018       1000
3387     False      True      True      True  1/5/2018      52400

[826 rows x 18 columns]
subcompact
         car_company model_ID  mileage  engine_power registration_date  \
11    Edureka_motors      118    54093           110         1/10/2015
15    Edureka_motors      118  1000376            90          1/3/2005
23    Edureka_motors      116   122426            85          1/6/2014
48    Edureka_motors      116    79900            85          1/3/2013
74    Edureka_motors      116   155338            85          1/6/2012
180   Edureka_motors      116    55219            85          1/5/2015
205   Edureka_motors      116    60126            85         1/12/2012
281   Edureka_motors      116   132937            85         1/10/2013
302   Edureka_motors      116    79420            85          1/8/2014
376   Edureka_motors      116    13657            80          1/3/2016
477   Edureka_motors       i3     6572            75         1/11/2015
494   Edureka_motors      116   111140            85          1/4/2013
521   Edureka_motors      116   138802            85          1/1/2013
537   Edureka_motors      116   121863            85         1/11/2013
606   Edureka_motors      116    83445            85          1/5/2013
693   Edureka_motors      116   135855            85          1/6/2013
749   Edureka_motors      116   177876            85         1/10/2012
764   Edureka_motors      116    91813            85          1/2/2013
826   Edureka_motors      116    13022            85         1/10/2014
861   Edureka_motors      116   204836            85         1/10/2012
916   Edureka_motors      123    92614           150          1/9/2008
917   Edureka_motors      114    93921            70          1/3/2014
974   Edureka_motors      118   165497           105          1/6/2013
979   Edureka_motors      116   113052            85          1/3/2011
1081  Edureka_motors      118   133991            95          1/5/2006
1105  Edureka_motors      116    76461            85          1/3/2013
1111  Edureka_motors      116   156610            85          1/1/2005
1143  Edureka_motors      116   181214            85          1/6/2012
1161  Edureka_motors      116   141767            85          1/1/2012
1185  Edureka_motors      118   135549           105         1/10/2012
...              ...      ...      ...           ...               ...
2066  Edureka_motors      118    44303           105         1/11/2012
2093  Edureka_motors      118   119724           100          1/3/2013
2111  Edureka_motors      114    75251            70          1/3/2014
2204  Edureka_motors      116    95873            85          1/7/2013
2267  Edureka_motors      116   164134            85          1/9/2013
2295  Edureka_motors      116   199483            85          1/7/2012
2325  Edureka_motors      116   108038            85          1/2/2013
2330  Edureka_motors      116   137773            85          1/2/2013
2372  Edureka_motors      116   146359            85          1/4/2012
2415  Edureka_motors      118   169560           125          1/4/2012
2469  Edureka_motors      116    43586            85          1/7/2013
2559  Edureka_motors      116     2399            85         1/11/2016
2573  Edureka_motors      116    46036            85          1/3/2014
2625  Edureka_motors      120    74162           120          1/4/2012
2639  Edureka_motors      318   145215            85          1/8/2004
2675  Edureka_motors      120   121721           135          1/3/2014
2730  Edureka_motors      116   116708            85         1/11/2012
2853  Edureka_motors      116    96570            85          1/6/2013
2884  Edureka_motors      116   173110            85         1/10/2013
2907  Edureka_motors      118   170287           105          1/3/2008
2930  Edureka_motors      118   186977           100          1/9/2008
3010  Edureka_motors      114    52198            75          1/1/2013
3036  Edureka_motors      116   107076            85         1/11/2012
3049  Edureka_motors      116   162369            85          1/3/2014
3071  Edureka_motors      120   155752           135          1/2/2013
3185  Edureka_motors      118   186916           100          1/9/2008
3187  Edureka_motors      116    42851            85          1/3/2015
3237  Edureka_motors      118   106956           100          1/7/2014
3265  Edureka_motors      116   169319            85          1/3/2013
3296  Edureka_motors      116   132224            85          1/1/2012

               fuel car_paint_color    car_type  feature1  feature2  feature3  \
11           diesel           black  subcompact     False      True     False
15           diesel           black  subcompact      True     False     False
23           diesel           black  subcompact     False      True     False
48           diesel            blue  subcompact      True      True     False
74           diesel           black  subcompact     False     False     False
180          diesel            grey  subcompact     False      True     False
205          diesel          silver  subcompact     False     False     False
281          diesel           black  subcompact     False      True     False
302          diesel          orange  subcompact      True      True     False
376          petrol          silver  subcompact     False      True     False
477   hybrid_petrol           black  subcompact      True      True      True
494          diesel           white  subcompact     False     False     False
521          diesel            grey  subcompact     False      True     False
537          diesel            blue  subcompact     False      True     False
606          diesel           white  subcompact      True      True      True
693          diesel            grey  subcompact      True      True     False
749          diesel           white  subcompact     False     False     False
764          diesel            grey  subcompact     False     False     False
826          diesel           brown  subcompact     False      True     False
861          diesel           white  subcompact     False      True     False
916          diesel           white  subcompact      True     False      True

         car_company           model_ID  mileage  engine_power  \
1     Edureka_motors  218 Active Tourer    91512           100
174   Edureka_motors  218 Active Tourer    43278           100
177   Edureka_motors  218 Active Tourer    81230           100
467   Edureka_motors    216 Gran Tourer    47391            85
524   Edureka_motors  225 Active Tourer    33300           170
527   Edureka_motors  216 Active Tourer    14533            85
683   Edureka_motors  218 Active Tourer    35382           110
710   Edureka_motors                216    31079            85
760   Edureka_motors                 X3   160152           190
856   Edureka_motors  216 Active Tourer   117375            85
890   Edureka_motors  218 Active Tourer   197276           112
1050  Edureka_motors   320 Gran Turismo    97154           135
1224  Edureka_motors    218 Gran Tourer    24982           100
1260  Edureka_motors                 X3   110039           130
1445  Edureka_motors  218 Active Tourer   153159           110
1462  Edureka_motors    218 Gran Tourer    62400           110
1544  Edureka_motors  216 Active Tourer   193657            85
1564  Edureka_motors  218 Active Tourer   150904           112
1638  Edureka_motors                218   121180           110
1676  Edureka_motors    216 Gran Tourer    48012            85
1866  Edureka_motors  218 Active Tourer    27920           110
1964  Edureka_motors    218 Gran Tourer    54176           110
1969  Edureka_motors    218 Gran Tourer    30919            85
2108  Edureka_motors    218 Gran Tourer    47782           110
2184  Edureka_motors    214 Gran Tourer    28573            70
2262  Edureka_motors  218 Active Tourer    48380           100
2406  Edureka_motors    216 Gran Tourer    29765            85
2473  Edureka_motors   320 Gran Turismo   137063           135
2585  Edureka_motors  220 Active Tourer   153358           140
2632  Edureka_motors  218 Active Tourer    35888           100
3048  Edureka_motors                 X1    73193           135
3110  Edureka_motors    216 Gran Tourer    38334            85
3125  Edureka_motors    218 Gran Tourer    66770           110
3146  Edureka_motors  218 Active Tourer   187121           110
3194  Edureka_motors  218 Active Tourer   165707           110

     registration_date    fuel car_paint_color car_type  feature1  feature2  \
1             1/6/2015  petrol           white      van     False      True
174           1/6/2015  diesel           black      van     False      True
177           1/7/2015  diesel           black      van     False      True
467           1/2/2016  diesel            blue      van      True      True
524           1/4/2015  petrol           beige      van      True      True
527           1/4/2015  diesel            grey      van      True      True
683           1/5/2015  diesel           black      van     False      True
710          1/11/2015  diesel           black      van     False      True
760          1/11/2013  diesel            blue      van      True      True
856           1/6/2015  diesel           black      van     False      True
890           1/7/2015  diesel           white      van      True      True
1050         1/10/2013  diesel           black      van     False      True
1224         1/10/2015  diesel             red      van      True     False
1260          1/7/2009  diesel           black      van     False     False
1445          1/6/2015  diesel           black      van     False      True
1462         1/10/2015  diesel           black      van     False      True
1544          1/3/2015  diesel          silver      van     False     False
1564         1/11/2014  diesel           black      van      True      True
1638          1/6/2015  diesel            blue      van     False     False
1676          1/2/2016  diesel            blue      van      True      True
1866          1/4/2016  diesel           brown      van      True      True
1964         1/10/2015  diesel           beige      van     False      True
1969          1/5/2016  diesel           white      van     False      True
2108         1/10/2015  diesel            blue      van     False      True
2184          1/8/2015  diesel             red      van      True      True
2262         1/10/2014  diesel           black      van      True      True
2406         1/10/2015  diesel            grey      van     False     False
2473          1/8/2014  diesel           white      van     False      True
2585          1/6/2015  diesel            grey      van     False      True
2632          1/6/2015  diesel            blue      van     False      True
3048          1/3/2013  diesel           black      van      True      True
3110         1/10/2015  diesel           white      van     False     False
3125         1/10/2015  diesel            blue      van     False      True
3146          1/2/2015  diesel            blue      van     False     False
3194          1/6/2015  diesel           black      van     False      True

      feature3  feature4  feature5  feature6  feature7  feature8 sold_date  \
1         True     False     False     False      True     False  1/5/2018
174      False     False     False     False      True      True  1/8/2018
177      False     False     False     False      True     False  1/7/2018
467      False     False     False      True      True     False  1/3/2018
524      False     False     False     False     False      True  1/5/2018
527       True     False     False     False      True     False  1/7/2018
683      False     False     False     False      True      True  1/2/2018
710      False     False     False     False     False     False  1/3/2018
760       True      True      True     False      True      True  1/7/2018
856      False     False     False     False      True     False  1/4/2018
890      False     False     False      True      True      True  1/2/2018
1050     False      True      True      True      True      True  1/4/2018
1224      True     False     False      True      True      True  1/7/2018
1260     False     False     False     False      True     False  1/5/2018
1445     False     False     False     False     False     False  1/5/2018
1462     False     False     False     False      True     False  1/4/2018
1544     False     False     False     False      True     False  1/9/2018
1564     False     False     False     False      True     False  1/5/2018
1638     False     False     False     False     False      True  1/5/2018
1676     False     False     False      True      True     False  1/6/2018
1866     False     False     False     False      True      True  1/9/2018
1964     False     False     False     False      True      True  1/8/2018
1969      True     False     False     False      True     False  1/4/2018
2108     False     False     False     False      True      True  1/7/2018
2184     False     False     False     False      True     False  1/9/2018
2262     False     False     False     False      True     False  1/5/2018
2406     False     False     False     False      True     False  1/5/2018
2473     False     False      True      True      True      True  1/4/2018
2585     False     False     False     False      True      True  1/2/2018
2632     False     False     False     False      True     False  1/4/2018
3048     False     False     False     False     False      True  1/4/2018
3110     False     False     False     False      True     False  1/6/2018
3125     False     False     False     False      True     False  1/7/2018
3146     False     False     False     False      True     False  1/6/2018
3194     False     False     False     False      True      True  1/7/2018

      car_price
1         14300
174       17100
177       14200
467       21400
524       19200
527       16900
683       13100
710        4800
760       19500
856       12300
890       13100
1050      22800
1224      20200
1260       1300
1445      13200
1462      14000
1544       8900
1564      11800
1638      11100
1676      15600
1866      22700
1964      15700
1969      19600
2108      14900
2184      17800
2262      19000
2406      16100
2473      18600
2585      11700
2632      16200
3048      15600
3110      16100
3125      13400
3146      12500
3194      13600

In [73]:
g.get_group('Ederaka_motors')

KeyError: 'Ederaka_motors'

In [77]:
g.get_group('convertible')

KeyError: 'convertible'

In [79]:
print(g.max())

             car_company           model_ID  engine_power registration_date  \
mileage
-64       Edureka_motors     640 Gran Coupé           230          1/3/2017
 2399     Edureka_motors                116            85         1/11/2016
 2970     Edureka_motors               X6 M           423          1/4/2016
 3478     Edureka_motors                318           100          1/9/2016
 4530     Edureka_motors               X5 M           230          1/7/2016
 5117     Edureka_motors                525           160          1/5/2016
 5578     Edureka_motors                530           195         1/11/2016
 6572     Edureka_motors                 i3            75         1/11/2015
 9406     Edureka_motors                518           110         1/10/2016
 10708    Edureka_motors                116            85          1/8/2016
 10955    Edureka_motors                 X6           190          1/6/2016
 11700    Edureka_motors     420 Gran Coupé           120         1/11/2016
 11917    Edureka_motors                318           110          1/1/2017
 12508    Edureka_motors                318           110          1/1/2017
 12541    Edureka_motors                 X3           120          1/7/2013
 12580    Edureka_motors                116            85          1/5/2013
 13022    Edureka_motors                116            85         1/10/2014
 13412    Edureka_motors                 X3           100          1/6/2016
 13485    Edureka_motors                 X3           100          1/6/2016
 13657    Edureka_motors                116            80          1/3/2016
 13818    Edureka_motors                116            80          1/3/2016
 13929    Edureka_motors                 M4           317          1/4/2016
 14041    Edureka_motors                420           140          1/7/2016
 14503    Edureka_motors                 X5           160          1/1/2015
 14533    Edureka_motors  216 Active Tourer            85          1/4/2015
 14902    Edureka_motors                530           190          1/5/2015
 15084    Edureka_motors                 X3           100          1/4/2017
 15106    Edureka_motors                118           110         1/11/2016
 16615    Edureka_motors                116            85         1/10/2016
 16726    Edureka_motors                118           110         1/10/2015
...                  ...                ...           ...               ...
 333612   Edureka_motors                320           100          1/1/2001
 333820   Edureka_motors   530 Gran Turismo           155          1/5/2011
 339716   Edureka_motors                320           135         1/12/2010
 339732   Edureka_motors                320           135         1/12/2010
 350615   Edureka_motors                 X5           170          1/5/2001
 351046   Edureka_motors                118            90          1/1/2007
 352167   Edureka_motors                 X6           155         1/12/2009
 359648   Edureka_motors                523           120          1/3/2000
 362902   Edureka_motors                520           120         1/10/2010
 364547   Edureka_motors                 X5           261          1/6/2007
 365262   Edureka_motors                320           120          1/6/2005
 365584   Edureka_motors                320           120          1/6/2005
 366026   Edureka_motors                118            90         1/11/2006
 367523   Edureka_motors                318            87          1/9/1998
 370014   Edureka_motors   520 Gran Turismo           135         1/11/2012
 370256   Edureka_motors   520 Gran Turismo           135         1/11/2012
 375686   Edureka_motors   530 Gran Turismo           190         1/10/2013
 378915   Edureka_motors                520           120         1/10/2008
 384170   Edureka_motors                318            85          1/8/2003
 384698   Edureka_motors                318            85          1/8/2003
 388616   Edureka_motors                530           180          1/7/2010
 391309   Edureka_motors                530           190         1/10/2011
 394135   Edureka_motors                520           135          1/5/2012
 398043   Edureka_motors                525           130          1/3/2005
 400654   Edureka_motors                320           110         1/12/2006
 405816   Edureka_motors                320           100          1/2/2000
 439060   Edureka_motors                525           105         1/10/1996
 477571   Edureka_motors                318            85          1/9/2004
 484615   Edureka_motors                520           120          1/2/2011
 1000376  Edureka_motors                118            90          1/3/2005

                   fuel car_paint_color     car_type  feature1  feature2  \
mileage
-64              diesel           black        sedan      True      True
 2399            diesel           white   subcompact     False     False
 2970            petrol             red          suv      True      True
 3478            diesel            blue       estate      True      True
 4530            diesel          silver          suv      True      True
 5117            diesel            blue        sedan      True      True
 5578            diesel            grey        sedan      True      True
 6572     hybrid_petrol           black   subcompact      True      True
 9406            diesel           black       estate      True      True
 10708           diesel            grey    hatchback     False      True
 10955           diesel           black          suv      True      True
 11700           diesel            blue    hatchback      True      True
 11917           diesel           white       estate     False     False
 12508           diesel           white       estate     False     False
 12541           diesel           brown          suv      True      True
 12580           diesel          silver    hatchback     False      True
 13022           diesel           brown   subcompact     False      True
 13412           diesel           black          suv      True      True
 13485           diesel           black          suv      True      True
 13657           petrol          silver   subcompact     False      True
 13818           petrol          silver    hatchback     False      True
 13929           petrol            grey  convertible      True      True
 14041           diesel            blue        coupe      True      True
 14503           diesel            grey          suv      True      True
 14533           diesel            grey          van      True      True
 14902           diesel           white       estate      True      True
 15084           diesel            blue          suv      True      True
 15106           diesel            grey    hatchback     False      True
 16615           diesel           black    hatchback     False      True
 16726           diesel           black    hatchback     False      True
...                 ...             ...          ...       ...       ...
 333612          diesel            blue        sedan     False     False
 333820          diesel           black    hatchback      True      True
 339716          diesel           black        sedan     False      True
 339732          diesel           black        sedan     False      True
 350615          petrol           black          suv      True     False
 351046          diesel            grey   subcompact     False     False
 352167          diesel            grey          suv      True      True
 359648          petrol           green       estate      True     False
 362902          diesel          silver       estate      True      True
 364547          petrol           black          suv      True      True
 365262          diesel            grey        sedan      True     False
 365584          diesel            grey        sedan      True     False
 366026          diesel            grey    hatchback     False     False
 367523          petrol          silver        sedan     False     False
 370014          diesel           black    hatchback      True      True
 370256          diesel           black    hatchback      True      True
 375686          diesel           white    hatchback      True      True
 378915          diesel           black        sedan      True      True
 384170          diesel            blue        sedan      True     False
 384698          diesel            blue        sedan      True     False
 388616          diesel            grey        sedan      True      True
 391309          diesel           black       estate     False      True
 394135          diesel           black        sedan      True      True
 398043          diesel            grey       estate     False     False
 400654          diesel           black       estate     False     False
 405816          diesel            blue        sedan     False     False
 439060          diesel          silver        sedan     False     False
 477571          diesel            grey    hatchback     False      True
 484615          diesel            blue       estate      True      True
 1000376         diesel           black   subcompact      True     False

          feature3  feature4  feature5  feature6  feature7  feature8  \
mileage
-64          False      True     False     False      True      True
 2399        False     False     False     False      True     False
 2970         True     False     False     False      True      True
 3478        False     False     False     False      True     False
 4530        False      True     False     False     False      True
 5117         True     False      True      True      True      True
 5578         True     False     False      True      True      True
 6572         True     False     False     False      True      True
 9406        False     False      True      True      True      True
 10708       False     False     False     False      True     False
 10955        True      True     False      True      True      True
 11700       False     False      True     False      True      True
 11917       False     False     False     False     False      True
 12508       False     False     False     False     False      True
 12541        True      True     False     False      True      True
 12580       False     False     False     False      True     False
 13022       False     False     False     False      True     False
 13412       False     False     False     False      True     False
 13485       False     False     False     False      True     False
 13657       False     False     False     False      True     False
 13818       False     False     False     False      True     False
 13929       False     False     False      True      True      True
 14041       False     False      True      True      True     False
 14503        True     False     False     False      True      True
 14533        True     False     False     False      True     False
 14902       False      True      True     False      True      True
 15084       False     False     False     False      True      True
 15106       False     False     False      True      True      True
 16615       False     False     False     False      True     False
 16726       False     False     False     False      True     False
...            ...       ...       ...       ...       ...       ...
 333612      False     False     False     False      True     False
 333820       True     False      True     False      True      True
 339716      False     False      True     False      True      True
 339732      False     False      True     False      True      True
 350615      False     False     False     False      True      True
 351046      False     False     False     False      True     False
 352167      False      True      True     False      True      True
 359648      False     False     False     False      True      True
 362902      False     False      True     False      True     False
 364547       True     False      True     False      True      True
 365262      False     False     False     False      True     False
 365584      False     False     False     False      True     False
 366026      False     False     False     False      True     False
 367523      False     False     False     False      True     False
 370014       True     False      True     False      True      True
 370256       True     False      True     False      True      True
 375686       True     False      True     False      True      True
 378915      False     False     False     False      True     False
 384170      False     False     False     False      True     False
 384698      False     False     False     False      True     False
 388616      False     False      True     False      True      True
 391309      False      True      True     False      True      True
 394135      False     False      True     False      True      True
 398043      False     False     False     False      True     False
 400654       True     False     False     False      True     False
 405816      False     False     False     False      True     False
 439060       True     False     False     False      True     False
 477571      False     False     False      True     False     False
 484615      False     False     False     False      True     False
 1000376     False     False     False     False      True     False

         sold_date  car_price
mileage
-64       1/4/2018      75000
 2399     1/3/2018      17300
 2970     1/4/2018      82400
 3478     1/3/2018      21400
 4530     1/8/2018      73100
 5117     1/4/2018      34900
 5578     1/2/2018      62500
 6572     1/3/2018      28000
 9406     1/6/2018      20300
 10708    1/7/2018      11100
 10955    1/7/2018      61200
 11700    1/6/2018      16400
 11917    1/5/2018      23400
 12508    1/5/2018      23700
 12541    1/6/2018      18600
 12580    1/5/2018       9200
 13022    1/3/2018      13800
 13412    1/9/2018      19500
 13485    1/8/2018      18100
 13657    1/2/2018      21700
 13818    1/8/2018      20700
 13929    1/2/2018      69700
 14041    1/9/2018      27700
 14503    1/8/2018      43400
 14533    1/7/2018      16900
 14902    1/2/2018      33900
 15084    1/2/2018      17700
 15106    1/1/2018      15800
 16615    1/2/2018      16100
 16726    1/3/2018      15400
...            ...        ...
 333612   1/7/2018        900
 333820   1/5/2018      12100
 339716   1/4/2018       6000
 339732   1/3/2018       6000
 350615   1/6/2018       3500
 351046   1/4/2018       3000
 352167   1/6/2018      17300
 359648   1/8/2018        800
 362902   1/5/2018      10400
 364547   1/8/2018      11300
 365262   1/3/2018       3400
 365584   1/6/2018       4000
 366026   1/6/2018       3600
 367523   1/9/2018        700
 370014   1/8/2018      17100
 370256   1/5/2018      17300
 375686   1/1/2018      17100
 378915   1/5/2018       6700
 384170   1/2/2018       1900
 384698   1/7/2018       1000
 388616   1/8/2018      14600
 391309   1/7/2018      13400
 394135   1/3/2018      14000
 398043   1/4/2018       3500
 400654   1/7/2018       1800
 405816   1/5/2018        500
 439060   1/3/2018        100
 477571   1/7/2018       1200
 484615   1/3/2018       8300
 1000376  1/6/2018       1400

[3362 rows x 17 columns]

In [80]:
print(g.mean())

          engine_power  feature1  feature2  feature3  feature4  feature5  \
mileage
-64              230.0       1.0       1.0       0.0       1.0       0.0
 2399             85.0       0.0       0.0       0.0       0.0       0.0
 2970            423.0       1.0       1.0       1.0       0.0       0.0
 3478            100.0       1.0       1.0       0.0       0.0       0.0
 4530            230.0       1.0       1.0       0.0       1.0       0.0
 5117            160.0       1.0       1.0       1.0       0.0       1.0
 5578            195.0       1.0       1.0       1.0       0.0       0.0
 6572             75.0       1.0       1.0       1.0       0.0       0.0
 9406            110.0       1.0       1.0       0.0       0.0       1.0
 10708            85.0       0.0       1.0       0.0       0.0       0.0
 10955           190.0       1.0       1.0       1.0       1.0       0.0
 11700           120.0       1.0       1.0       0.0       0.0       1.0
 11917           110.0       0.0       0.0       0.0       0.0       0.0
 12508           110.0       0.0       0.0       0.0       0.0       0.0
 12541           120.0       1.0       1.0       1.0       1.0       0.0
 12580            85.0       0.0       1.0       0.0       0.0       0.0
 13022            85.0       0.0       1.0       0.0       0.0       0.0
 13412           100.0       1.0       1.0       0.0       0.0       0.0
 13485           100.0       1.0       1.0       0.0       0.0       0.0
 13657            80.0       0.0       1.0       0.0       0.0       0.0
 13818            80.0       0.0       1.0       0.0       0.0       0.0
 13929           317.0       1.0       1.0       0.0       0.0       0.0
 14041           140.0       1.0       1.0       0.0       0.0       1.0
 14503           160.0       1.0       1.0       1.0       0.0       0.0
 14533            85.0       1.0       1.0       1.0       0.0       0.0
 14902           190.0       1.0       1.0       0.0       1.0       1.0
 15084           100.0       1.0       1.0       0.0       0.0       0.0
 15106           110.0       0.0       1.0       0.0       0.0       0.0
 16615            85.0       0.0       1.0       0.0       0.0       0.0
 16726           110.0       0.0       1.0       0.0       0.0       0.0
...                ...       ...       ...       ...       ...       ...
 333612          100.0       0.0       0.0       0.0       0.0       0.0
 333820          155.0       1.0       1.0       1.0       0.0       1.0
 339716          135.0       0.0       1.0       0.0       0.0       1.0
 339732          135.0       0.0       1.0       0.0       0.0       1.0
 350615          170.0       1.0       0.0       0.0       0.0       0.0
 351046           90.0       0.0       0.0       0.0       0.0       0.0
 352167          155.0       1.0       1.0       0.0       1.0       1.0
 359648          120.0       1.0       0.0       0.0       0.0       0.0
 362902          120.0       1.0       1.0       0.0       0.0       1.0
 364547          261.0       1.0       1.0       1.0       0.0       1.0
 365262          120.0       1.0       0.0       0.0       0.0       0.0
 365584          120.0       1.0       0.0       0.0       0.0       0.0
 366026           90.0       0.0       0.0       0.0       0.0       0.0
 367523           87.0       0.0       0.0       0.0       0.0       0.0
 370014          135.0       1.0       1.0       1.0       0.0       1.0
 370256          135.0       1.0       1.0       1.0       0.0       1.0
 375686          190.0       1.0       1.0       1.0       0.0       1.0
 378915          120.0       1.0       1.0       0.0       0.0       0.0
 384170           85.0       1.0       0.0       0.0       0.0       0.0
 384698           85.0       1.0       0.0       0.0       0.0       0.0
 388616          180.0       1.0       1.0       0.0       0.0       1.0
 391309          190.0       0.0       1.0       0.0       1.0       1.0
 394135          135.0       1.0       1.0       0.0       0.0       1.0
 398043          130.0       0.0       0.0       0.0       0.0       0.0
 400654          110.0       0.0       0.0       1.0       0.0       0.0
 405816          100.0       0.0       0.0       0.0       0.0       0.0
 439060          105.0       0.0       0.0       1.0       0.0       0.0
 477571           85.0       0.0       1.0       0.0       0.0       0.0
 484615          120.0       1.0       1.0       0.0       0.0       0.0
 1000376          90.0       1.0       0.0       0.0       0.0       0.0

          feature6  feature7  feature8  car_price
mileage
-64            0.0       1.0       1.0    75000.0
 2399          0.0       1.0       0.0    17300.0
 2970          0.0       1.0       1.0    82400.0
 3478          0.0       1.0       0.0    21400.0
 4530          0.0       0.0       1.0    73100.0
 5117          1.0       1.0       1.0    34900.0
 5578          1.0       1.0       1.0    62500.0
 6572          0.0       1.0       1.0    28000.0
 9406          1.0       1.0       1.0    20300.0
 10708         0.0       1.0       0.0    11100.0
 10955         1.0       1.0       1.0    61200.0
 11700         0.0       1.0       1.0    16400.0
 11917         0.0       0.0       1.0    23400.0
 12508         0.0       0.0       1.0    23700.0
 12541         0.0       1.0       1.0    18600.0
 12580         0.0       1.0       0.0     9200.0
 13022         0.0       1.0       0.0    13800.0
 13412         0.0       1.0       0.0    19500.0
 13485         0.0       1.0       0.0    18100.0
 13657         0.0       1.0       0.0    21700.0
 13818         0.0       1.0       0.0    20700.0
 13929         1.0       1.0       1.0    69700.0
 14041         1.0       1.0       0.0    27700.0
 14503         0.0       1.0       1.0    43400.0
 14533         0.0       1.0       0.0    16900.0
 14902         0.0       1.0       1.0    33900.0
 15084         0.0       1.0       1.0    17700.0
 15106         1.0       1.0       1.0    15800.0
 16615         0.0       1.0       0.0    16100.0
 16726         0.0       1.0       0.0    15400.0
...            ...       ...       ...        ...
 333612        0.0       1.0       0.0      900.0
 333820        0.0       1.0       1.0    12100.0
 339716        0.0       1.0       1.0     6000.0
 339732        0.0       1.0       1.0     6000.0
 350615        0.0       1.0       1.0     3500.0
 351046        0.0       1.0       0.0     3000.0
 352167        0.0       1.0       1.0    17300.0
 359648        0.0       1.0       1.0      800.0
 362902        0.0       1.0       0.0    10400.0
 364547        0.0       1.0       1.0    11300.0
 365262        0.0       1.0       0.0     3400.0
 365584        0.0       1.0       0.0     4000.0
 366026        0.0       1.0       0.0     3600.0
 367523        0.0       1.0       0.0      700.0
 370014        0.0       1.0       1.0    17100.0
 370256        0.0       1.0       1.0    17300.0
 375686        0.0       1.0       1.0    17100.0
 378915        0.0       1.0       0.0     6700.0
 384170        0.0       1.0       0.0     1900.0
 384698        0.0       1.0       0.0     1000.0
 388616        0.0       1.0       1.0    14600.0
 391309        0.0       1.0       1.0    13400.0
 394135        0.0       1.0       1.0    14000.0
 398043        0.0       1.0       0.0     3500.0
 400654        0.0       1.0       0.0     1800.0
 405816        0.0       1.0       0.0      500.0
 439060        0.0       1.0       0.0      100.0
 477571        1.0       0.0       0.0     1200.0
 484615        0.0       1.0       0.0     8300.0
 1000376       0.0       1.0       0.0     1400.0

[3362 rows x 10 columns]

In [81]:
g.describe()

         engine_power                                               car_price  \
                count   mean std    min    25%    50%    75%    max     count
mileage
-64               1.0  230.0 NaN  230.0  230.0  230.0  230.0  230.0       1.0
 2399             1.0   85.0 NaN   85.0   85.0   85.0   85.0   85.0       1.0
 2970             1.0  423.0 NaN  423.0  423.0  423.0  423.0  423.0       1.0
 3478             1.0  100.0 NaN  100.0  100.0  100.0  100.0  100.0       1.0
 4530             1.0  230.0 NaN  230.0  230.0  230.0  230.0  230.0       1.0
 5117             1.0  160.0 NaN  160.0  160.0  160.0  160.0  160.0       1.0
 5578             1.0  195.0 NaN  195.0  195.0  195.0  195.0  195.0       1.0
 6572             1.0   75.0 NaN   75.0   75.0   75.0   75.0   75.0       1.0
 9406             1.0  110.0 NaN  110.0  110.0  110.0  110.0  110.0       1.0
 10708            1.0   85.0 NaN   85.0   85.0   85.0   85.0   85.0       1.0
 10955            1.0  190.0 NaN  190.0  190.0  190.0  190.0  190.0       1.0
 11700            1.0  120.0 NaN  120.0  120.0  120.0  120.0  120.0       1.0
 11917            1.0  110.0 NaN  110.0  110.0  110.0  110.0  110.0       1.0
 12508            1.0  110.0 NaN  110.0  110.0  110.0  110.0  110.0       1.0
 12541            1.0  120.0 NaN  120.0  120.0  120.0  120.0  120.0       1.0
 12580            1.0   85.0 NaN   85.0   85.0   85.0   85.0   85.0       1.0
 13022            1.0   85.0 NaN   85.0   85.0   85.0   85.0   85.0       1.0
 13412            1.0  100.0 NaN  100.0  100.0  100.0  100.0  100.0       1.0
 13485            1.0  100.0 NaN  100.0  100.0  100.0  100.0  100.0       1.0
 13657            1.0   80.0 NaN   80.0   80.0   80.0   80.0   80.0       1.0
 13818            1.0   80.0 NaN   80.0   80.0   80.0   80.0   80.0       1.0
 13929            1.0  317.0 NaN  317.0  317.0  317.0  317.0  317.0       1.0
 14041            1.0  140.0 NaN  140.0  140.0  140.0  140.0  140.0       1.0
 14503            1.0  160.0 NaN  160.0  160.0  160.0  160.0  160.0       1.0
 14533            1.0   85.0 NaN   85.0   85.0   85.0   85.0   85.0       1.0
 14902            1.0  190.0 NaN  190.0  190.0  190.0  190.0  190.0       1.0
 15084            1.0  100.0 NaN  100.0  100.0  100.0  100.0  100.0       1.0
 15106            1.0  110.0 NaN  110.0  110.0  110.0  110.0  110.0       1.0
 16615            1.0   85.0 NaN   85.0   85.0   85.0   85.0   85.0       1.0
 16726            1.0  110.0 NaN  110.0  110.0  110.0  110.0  110.0       1.0
...               ...    ...  ..    ...    ...    ...    ...    ...       ...
 333612           1.0  100.0 NaN  100.0  100.0  100.0  100.0  100.0       1.0
 333820           1.0  155.0 NaN  155.0  155.0  155.0  155.0  155.0       1.0
 339716           1.0  135.0 NaN  135.0  135.0  135.0  135.0  135.0       1.0
 339732           1.0  135.0 NaN  135.0  135.0  135.0  135.0  135.0       1.0
 350615           1.0  170.0 NaN  170.0  170.0  170.0  170.0  170.0       1.0
 351046           1.0   90.0 NaN   90.0   90.0   90.0   90.0   90.0       1.0
 352167           1.0  155.0 NaN  155.0  155.0  155.0  155.0  155.0       1.0
 359648           1.0  120.0 NaN  120.0  120.0  120.0  120.0  120.0       1.0
 362902           1.0  120.0 NaN  120.0  120.0  120.0  120.0  120.0       1.0
 364547           1.0  261.0 NaN  261.0  261.0  261.0  261.0  261.0       1.0
 365262           1.0  120.0 NaN  120.0  120.0  120.0  120.0  120.0       1.0
 365584           1.0  120.0 NaN  120.0  120.0  120.0  120.0  120.0       1.0
 366026           1.0   90.0 NaN   90.0   90.0   90.0   90.0   90.0       1.0
 367523           1.0   87.0 NaN   87.0   87.0   87.0   87.0   87.0       1.0
 370014           1.0  135.0 NaN  135.0  135.0  135.0  135.0  135.0       1.0
 370256           1.0  135.0 NaN  135.0  135.0  135.0  135.0  135.0       1.0
 375686           1.0  190.0 NaN  190.0  190.0  190.0  190.0  190.0       1.0
 378915           1.0  120.0 NaN  120.0  120.0  120.0  120.0  120.0       1.0
 384170           1.0   85.0 NaN   85.0   85.0   85.0   85.0   85.0       1.0
 384698           1.0   85.0 NaN   85.0   85.0   85.0   85.0   85.0       1.0
 388616           1.0  180.0 NaN  180.0  180.0  180.0  180.0  180.0       1.0
 391309           1.0  190.0 NaN  190.0  190.0  190.0  190.0  190.0       1.0
 394135           1.0  135.0 NaN  135.0  135.0  135.0  135.0  135.0       1.0
 398043           1.0  130.0 NaN  130.0  130.0  130.0  130.0  130.0       1.0
 400654           1.0  110.0 NaN  110.0  110.0  110.0  110.0  110.0       1.0
 405816           1.0  100.0 NaN  100.0  100.0  100.0  100.0  100.0       1.0
 439060           1.0  105.0 NaN  105.0  105.0  105.0  105.0  105.0       1.0
 477571           1.0   85.0 NaN   85.0   85.0   85.0   85.0   85.0       1.0
 484615           1.0  120.0 NaN  120.0  120.0  120.0  120.0  120.0       1.0
 1000376          1.0   90.0 NaN   90.0   90.0   90.0   90.0   90.0       1.0


             mean std      min      25%      50%      75%      max
mileage
-64       75000.0 NaN  75000.0  75000.0  75000.0  75000.0  75000.0
 2399     17300.0 NaN  17300.0  17300.0  17300.0  17300.0  17300.0
 2970     82400.0 NaN  82400.0  82400.0  82400.0  82400.0  82400.0
 3478     21400.0 NaN  21400.0  21400.0  21400.0  21400.0  21400.0
 4530     73100.0 NaN  73100.0  73100.0  73100.0  73100.0  73100.0
 5117     34900.0 NaN  34900.0  34900.0  34900.0  34900.0  34900.0
 5578     62500.0 NaN  62500.0  62500.0  62500.0  62500.0  62500.0
 6572     28000.0 NaN  28000.0  28000.0  28000.0  28000.0  28000.0
 9406     20300.0 NaN  20300.0  20300.0  20300.0  20300.0  20300.0
 10708    11100.0 NaN  11100.0  11100.0  11100.0  11100.0  11100.0
 10955    61200.0 NaN  61200.0  61200.0  61200.0  61200.0  61200.0
 11700    16400.0 NaN  16400.0  16400.0  16400.0  16400.0  16400.0
 11917    23400.0 NaN  23400.0  23400.0  23400.0  23400.0  23400.0
 12508    23700.0 NaN  23700.0  23700.0  23700.0  23700.0  23700.0
 12541    18600.0 NaN  18600.0  18600.0  18600.0  18600.0  18600.0
 12580     9200.0 NaN   9200.0   9200.0   9200.0   9200.0   9200.0
 13022    13800.0 NaN  13800.0  13800.0  13800.0  13800.0  13800.0
 13412    19500.0 NaN  19500.0  19500.0  19500.0  19500.0  19500.0
 13485    18100.0 NaN  18100.0  18100.0  18100.0  18100.0  18100.0
 13657    21700.0 NaN  21700.0  21700.0  21700.0  21700.0  21700.0
 13818    20700.0 NaN  20700.0  20700.0  20700.0  20700.0  20700.0
 13929    69700.0 NaN  69700.0  69700.0  69700.0  69700.0  69700.0
 14041    27700.0 NaN  27700.0  27700.0  27700.0  27700.0  27700.0
 14503    43400.0 NaN  43400.0  43400.0  43400.0  43400.0  43400.0
 14533    16900.0 NaN  16900.0  16900.0  16900.0  16900.0  16900.0
 14902    33900.0 NaN  33900.0  33900.0  33900.0  33900.0  33900.0
 15084    17700.0 NaN  17700.0  17700.0  17700.0  17700.0  17700.0
 15106    15800.0 NaN  15800.0  15800.0  15800.0  15800.0  15800.0
 16615    16100.0 NaN  16100.0  16100.0  16100.0  16100.0  16100.0
 16726    15400.0 NaN  15400.0  15400.0  15400.0  15400.0  15400.0
...           ...  ..      ...      ...      ...      ...      ...
 333612     900.0 NaN    900.0    900.0    900.0    900.0    900.0
 333820   12100.0 NaN  12100.0  12100.0  12100.0  12100.0  12100.0
 339716    6000.0 NaN   6000.0   6000.0   6000.0   6000.0   6000.0
 339732    6000.0 NaN   6000.0   6000.0   6000.0   6000.0   6000.0
 350615    3500.0 NaN   3500.0   3500.0   3500.0   3500.0   3500.0
 351046    3000.0 NaN   3000.0   3000.0   3000.0   3000.0   3000.0
 352167   17300.0 NaN  17300.0  17300.0  17300.0  17300.0  17300.0
 359648     800.0 NaN    800.0    800.0    800.0    800.0    800.0
 362902   10400.0 NaN  10400.0  10400.0  10400.0  10400.0  10400.0
 364547   11300.0 NaN  11300.0  11300.0  11300.0  11300.0  11300.0
 365262    3400.0 NaN   3400.0   3400.0   3400.0   3400.0   3400.0
 365584    4000.0 NaN   4000.0   4000.0   4000.0   4000.0   4000.0
 366026    3600.0 NaN   3600.0   3600.0   3600.0   3600.0   3600.0
 367523     700.0 NaN    700.0    700.0    700.0    700.0    700.0
 370014   17100.0 NaN  17100.0  17100.0  17100.0  17100.0  17100.0
 370256   17300.0 NaN  17300.0  17300.0  17300.0  17300.0  17300.0
 375686   17100.0 NaN  17100.0  17100.0  17100.0  17100.0  17100.0
 378915    6700.0 NaN   6700.0   6700.0   6700.0   6700.0   6700.0
 384170    1900.0 NaN   1900.0   1900.0   1900.0   1900.0   1900.0
 384698    1000.0 NaN   1000.0   1000.0   1000.0   1000.0   1000.0
 388616   14600.0 NaN  14600.0  14600.0  14600.0  14600.0  14600.0
 391309   13400.0 NaN  13400.0  13400.0  13400.0  13400.0  13400.0
 394135   14000.0 NaN  14000.0  14000.0  14000.0  14000.0  14000.0
 398043    3500.0 NaN   3500.0   3500.0   3500.0   3500.0   3500.0
 400654    1800.0 NaN   1800.0   1800.0   1800.0   1800.0   1800.0
 405816     500.0 NaN    500.0    500.0    500.0    500.0    500.0
 439060     100.0 NaN    100.0    100.0    100.0    100.0    100.0
 477571    1200.0 NaN   1200.0   1200.0   1200.0   1200.0   1200.0
 484615    8300.0 NaN   8300.0   8300.0   8300.0   8300.0   8300.0
 1000376   1400.0 NaN   1400.0   1400.0   1400.0   1400.0   1400.0

[3362 rows x 16 columns]

In [84]:
import pandas as pd
auto_mob = pd.DataFrame({
    "mileage":[9000,8900,7890],
    "car_type" : ['SUV','HYUNDAI','MARUTI'],
    "engine_power":[45,90,78]})

In [85]:
auto_mob

   mileage car_type  engine_power
0     9000      SUV            45
1     8900  HYUNDAI            90
2     7890   MARUTI            78

In [87]:
auto_mob1 = pd.DataFrame({
    "mileage":[8900,81290,78910],
    "car_type" : ['SUV','HYUNDAI','MARUTI'],
    "engine_power":[459,909,789]})
auto_mob

   mileage car_type  engine_power
0     8900      SUV           459
1    81290  HYUNDAI           909
2    78910   MARUTI           789

In [94]:
df=pd.concat([auto_mob,auto_mob1])
df

   mileage car_type  engine_power
0     8900      SUV           459
1    81290  HYUNDAI           909
2    78910   MARUTI           789
0     8900      SUV           459
1    81290  HYUNDAI           909
2    78910   MARUTI           789

In [95]:
mileage_df = pd.DataFrame({
    "mileage":[90,78],
    "car_type":["suv","rygen"]})

In [97]:
car_company = pd.DataFrame({"car_company":["Maruti","wagnor"],
                       "engine_power":[90,90],
                       "car_type":["suv","rygen"]
                      })

In [104]:
df = pd.merge(mileage_df,car_company,on = "engine_power",how = "outer")

KeyError: 'engine_power'

In [105]:
df

   mileage car_type car_company  engine_power
0       90      suv      Maruti            90
1       78    rygen      wagnor            90

In [109]:
df = pd.DataFrame([1,2,3,4,5]),index = [90,89,67,56,56])

In [110]:
df

   0
0  1
1  2
2  3
3  4
4  5

In [112]:
df.loc[:2]#index wise run

   0
0  1
1  2
2  3

In [114]:
df.iloc[:2] #row wise run

   0
0  1
1  2

In [115]:
df.loc[1:4]

   0
1  2
2  3
3  4
4  5

In [116]:
df.iloc[1:4] #row wise

   0
1  2
2  3
3  4

In [119]:
df.loc[:90]

   0
0  1
1  2
2  3
3  4
4  5

In [120]:
df.iloc[:9]

   0
0  1
1  2
2  3
3  4
4  5